<div class="animated fadeIn" *ngIf="(!_moviedetails && !pagedItems) && !_errorMessage">
  <span class="spinner"></span>
</div>

<section class="content animated fadeIn">
  <div class="row">
    <form  class="form-horizontal" [formGroup]="_form">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Search</h3>
              </div>
              <div class="box-body">
                  <!-- Search form -->
                  <div class="col-xs-4">
                      <div class="md-form active-pink active-pink-2 mb-3">
                          <input class="form-control" type="search" id="searchtxt" [(ngModel)]="searchtxt" formControlName="searchtxt"   aria-label="Search" mdbInputDirective>
                      </div>
                  </div>
                  <div class="col-sm-6">                                                        
                      <button type="button" class="btn btn-success" (click)="onSearch( _form.value.searchtxt)" [disabled]=" _submitted === true">Submit</button>
                      <button type="button" class="btn btn-danger" (click)="getMovies()" >Clear</button>
                      <div *ngIf="_submitted === true" class="spinner"></div>
                  </div>                
              </div>
          </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Movies List</h3>
                <div class="pull-right">
                  <a class="btn btn-block btn-primary" [routerLink]="['/movies', 'upload']" routerLinkActive="active">Upload</a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Movie name</th>
                      <th>Action</th>
                    </tr>
                  </thead>                    
                  <tbody *ngIf="_moviedetails">
                        <tr *ngFor="let movie of _moviedetails; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{movie.name}}</td>
                            <td>
                                <button type="button" (click)="deleteMovie(movie.id)" id="{{movie.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-2g"></i></button>
                            </td>
                        </tr>
                  </tbody>
                  <tbody *ngIf="!_moviedetails">
                        <tr *ngFor="let movie of pagedItems; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{movie.name}}</td>
                            <td>
                                <button type="button" (click)="deleteMovie(movie.id)" id="{{movie.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-2g"></i></button>
                            </td>
                        </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!_moviedetails" class="col-md-12 col-sm-12 col-xs-12">
        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
  </div>
</section>