
<section class="content animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Upload Movies</h3>
          </div>
  
            <div class="box-body">
                <form class="form-horizontal" [formGroup]="_form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="alert alert-danger text-center" *ngIf="_errorMessage">{{_errorMessage}}</div>
                        <label for="upload" class="col-sm-2 control-label">Upload</label>
                        <div class="col-sm-4">
                            <input type="file" id="upload" class="form-control" accept=".csv" (change)="handleFileChange($event)" #upload/>                          
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 20px;">
                      <div class="col-sm-6">
                          <button type="submit" class="btn btn-primary pull-right" [disabled]="!_form.valid">Submit</button>
                          <!--<button type="button" class="btn btn-primary pull-left">&laquo; Prev</button>-->
                          <div *ngIf="_tab2Submitted" class="spinner"></div>
                      </div>
                   </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </section>