<div class="animated fadeIn" *ngIf="!_dashboardata && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_dashboardata">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dashboard</h3>
                </div>
                <div class="box-body" style="max-height: 450px; overflow: hidden; overflow-y: visible;">
                 
                </div>
            </div>
        </div>
    </div>
</section>