


html {
    position: relative;
    min-height: 100%;
}

body {
    padding-bottom: 180px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

a:focus, a:hover {
  text-decoration: none;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 56px;
    color: #000;
    margin: 0 0 35px;
    font-weight: 900;
}
h2 {
    margin: 0 0 30px;
}
h3 {
    font-size: 23;
    color: #232323;
    margin: 0;
    text-align: center;
    font-weight: 700;
}
h4 {
    font-size: 32px;
    margin: 0 0 10px;
    color: #000;
}

p {
    font-size: 25px;
    color: #2c2c2c;
    font-weight: 300;
    margin: 0 0 15px;
}
p.small {
    font-size: 14px;
    color: #822c8e;
    margin: 0;
}

.no{
    float: right
}
.site-btn {
    color: #fff;
    font-size: 15px;
    display: block;
    height: 38px;
    width: 98px;
    text-align: center;
    line-height: 48px;
    background: #EB5768;
    border-radius: 10px;
    margin: 30px 0;
    border: none;
}

.values{
    font-size: 16px;
    line-height: 4px;

}

.check-out{
    margin: 0 auto;
    padding:40px 25px
}

.summary[_ngcontent-c0] {
    width: 51%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px black;
}


.site-btn:hover, .site-btn:focus {
    color: #fff;
} 
.number-list {
    list-style: decimal;
    margin: 0 0 0 25px;
}
.number-list li {
    font-size: 20px;
    line-height: 25px;
    color: #444;
    padding-bottom: 10px;
}
.header {
    min-height: 87px;
    color: #fff;
    padding: 30px 0;
    background-color: #01273a;
}
.header a {
    color: #fff;
}

.footer{
    font-family:Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.sidebar {
    position: fixed;
    width: 378px;
    left: -400px;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: 140px 50px;
    overflow: auto;
    background-color: #01273a;    
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sidebar.open {
    left:0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.sidebar .close-menu {
    position: absolute;
    top: 30px;
    left: 50px;
}
.sidebar ul li {
    padding-bottom: 10px;
}
.sidebar ul li a {
    color: #fff;
    font-size: 25px;
    line-height: 31px;
    text-transform: uppercase;
}
.banner {
    min-height: 550px;
    background: #b7b7b7;
    position: relative;
}
.banner .banner-text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.content-area {
    padding: 0px 0;
    max-width: 780px;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.content-area h1 {
    margin: 0 0 10px;
}
.privacy-content {
    padding: 100px 0;
}
.privacy-content p {
    margin: 0 0 20px;
}
.privacy-content ul {
    list-style: decimal;
    margin: 0 0 0 30px;
}
.privacy-content ul li {
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 25px;
    line-height: 31px;
    color: #2b2b2b;
}
.rewards-area {
    padding: 70px 0;
}
.rewards-area h1 {
    margin: 0;
}
.rewards-area .row {
    margin-top: 50px;
}
.rewards-area .thumbnail {
    padding: 10px;
    border-width: 2px; 
    border-color: #cccccc;
    border-radius: 0;
}
.rewards-area .thumbnail img {
    width: 100%;
}
.rewards-area .thumbnail:hover, .rewards-area .thumbnail:focus {
    border: 2px solid #822c8e;
}
.form-control{
    font-size: 16px;
}
.footer {
   
    bottom: 0;
    width: 100%;
    height: 180px;
    padding: 30px 0 20px;
    z-index: 11;
    background-color: #01273a;
}
.footer h4 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.footer p, .footer p a {
    font-size: 16px;
    color: #fff;
    margin: 0 0 10px;
    text-transform: none;
}
.footer ul {
    margin: 0;
}
.footer ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}


#msform {
    text-align: left;
    position: relative;
    margin-top: 50px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
#msform .small {
    margin-top: -15px; 
}
#msform .checkbox {
    margin: 30px 0; 
    font-size: 16px;
}
/*inputs*/
#msform input.form-control, #msform select.form-control {
    border: none;
    border-bottom: 1px solid #636363;
    border-radius: 0px;
    margin: 30px 0;
    width: 100%;
    box-sizing: border-box;
    color: #636363;
    font-size: 20px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0;
}
#msform  h3 {
    text-align: left;
}
#msform .input-group input {
    margin: 0;
}
#msform .input-group .input-group-addon {
    padding: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #636363;
    border-radius: 0;
    font-size: 20px;
    color: #636363;
}

#msform inputinput.form-control:focus, #msform select.form-control:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/


#msform .site-btn  {
    line-height: 1;
    box-shadow: none;
    border: none;
    margin: 30px 0;
}
#msform .captch-box {
    margin: 30px 0;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    width: calc(50% - 20px);
    margin-right: 15px;
    float: left;
    position: relative;
    background: #b7b7b7;
    font-weight: 700;
    padding: 10px 10px 10px 90px;
    text-align: center;
}

#progressbar li span {
    display: block;
    font-size: 22px;
    color: #fff;
    font-weight: 300;
    border-radius: 25px;
    position: absolute;
    left: 30px;
    top: 13px;
}
#progressbar li:last-child:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 58px;
    width: 30px;
    border-left: 20px solid #fff;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 30px;
    height: 58px;
    border-left: 20px solid #b7b7b7;
    border-top:29px solid transparent;
    border-bottom: 29px solid transparent;
    position: absolute;
    right: -30px;
    top: 0px;
    z-index: 10; /*put it behind the numbers*/
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active, #progressbar li.active:before {
    background: #ef4540;
    color: white;
}
#progressbar li.active:after {
    border-left: 20px solid #ef4540;
    color: white;
}
@media (min-width: 768px){

  
    .modal-dialog {
        width: 80%;
        margin: 100px auto;
    }
    .modal-body {
        position: relative;
        padding: 100px 50px;
    }
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 40px;
    }
}
@media screen and (max-width: 1024px) {
   
}

@media screen and (max-width: 992px) {
    .footer {
        position: static;
        height: auto;
    }
    body {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 767px) {
    .summary {
        width: 80% !important;
       
    }
    h1 {
        font-size: 35px; 
    }
    h4 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
        line-height: 25px;
    }
    .banner {
        min-height: 380px;
    }
    .sidebar {
        position: fixed;
        width: 320px;
        left: -400px;
        top: 0;
        bottom: 0;
        z-index: 10;
        padding: 120px 20px;
    }
    .sidebar ul li a {
        font-size: 20px;
    }
    #progressbar li {
        list-style-type: none;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        width: calc(50% - 20px);
        margin-right: 15px;
        float: left;
        position: relative;
        background: #b7b7b7;
        font-weight: 700;
        padding: 23px 10px 14px 20px;
        text-align: center;
    }
    #progressbar li span {
        display: block;
        font-size: 18px;
        color: #fff;
        font-weight: 300;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 2px;
        margin-left: -16px;
    }
 
}





