<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
<div id="main" class="item">
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
	<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
	<!-- <img src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
</div>

<!-- <pre>{{_campaigns | json}}</pre> -->






<div class="container" id="cont">
	<div class="content-area">
		<div class="multi-step-form">
			<form id="msform" ngNoForm action="https://sandboxsecure.payu.in/_payment" name="payuform" method="POST">
				<fieldset>
					<div class="summary">
          				<div class="check-out">
							<p class="values" style="text-align:left;">
								Total no of seats <span style="padding-left: 6px;">:</span> 
								<span class="no">{{model.total_seats}} </span>
							</p>
							<p class="values" style="text-align:left;">
								Grand Total <span style="padding-left: 36px;">:</span> 
								<span class="no">{{model.grand_total}} </span> 
							</p>
							<p class="values" style="text-align:left;">
								Promo Offer <span style="padding-left: 32px;">:</span> 
								<span class="no">(-)100 </span>
							</p>
							<hr>
							<p class="values" style="text-align:left;">
								Final Total <span style="padding-left: 47px;">:</span> 
								<span class="no">{{model.final_total}} </span>
							</p>
							<!-- <p class="values" >Grand Total:</p><span> {{model.grand_total}}</span>
							<p class="values" >Promo Offer:</p><span>100(-)</span>
							<hr>
							<p class="values" >Final Total</p><span>:{{model.final_total}}</span> -->
						</div>
					</div>
		
					<input type="hidden" id="key" name="key" [(ngModel)]="payuform.key">
					<input type="hidden" id="salt" name="salt" [(ngModel)]="payuform.salt">
					<div class="form-group">
						<input type="hidden" class="form-control" id="productinfo" name="productinfo" [(ngModel)]="payuform.productinfo">
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" id="firstname" name="firstname" [(ngModel)]="payuform.firstname">
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" id="email" name="email" [(ngModel)]="payuform.email">
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone">
					</div>
					<div class="form-group">
						<input type="hidden" class="form-control" id="amount" name="amount" [(ngModel)]="payuform.amount">
					</div>
					<input type="hidden" id="surl" name="surl" [(ngModel)]="payuform.surl" size="64">
					<input type="hidden" id="furl" name="furl" [(ngModel)]="payuform.furl" size="64">
					<input type="hidden" id="hash" name="hash" [(ngModel)]="payuform.hash">
					<input type="hidden" id="txnid" name="txnid" [(ngModel)]="payuform.txnid">
					
					<input type="hidden" id="service_provider" name="service_provider" [(ngModel)]="payuform.service_provider" size="64">

					<!-- Optional Parameters -->
					<input type="hidden" id="lastname" name="lastname" [(ngModel)]="payuform.lastname" value="">
					<input type="hidden" id="address1" name="address1" [(ngModel)]="payuform.address1" value="">
					<input type="hidden" id="address2" name="address2" [(ngModel)]="payuform.address2" value="">
					<input type="hidden" id="city" name="city" [(ngModel)]="payuform.city" value="">
					<input type="hidden" id="state" name="state" [(ngModel)]="payuform.state" value="">
					<input type="hidden" id="country" name="country" [(ngModel)]="payuform.country" value="">
					<input type="hidden" id="zipcode" name="zipcode" [(ngModel)]="payuform.zipcode" value="">
					<input type="hidden" id="udf1" name="udf1" [(ngModel)]="payuform.udf1" value="">
					<input type="hidden" id="udf2" name="udf2" [(ngModel)]="payuform.udf2" value="">
					<input type="hidden" id="udf3" name="udf3" [(ngModel)]="payuform.udf3" value="">
					<input type="hidden" id="udf4" name="udf4" [(ngModel)]="payuform.udf4" value="">
					<input type="hidden" id="udf5" name="udf5" [(ngModel)]="payuform.udf5" value="">
					<input type="hidden" id="pg" name="pg" [(ngModel)]="payuform.pg" value="">
					<input type="hidden" name="curl" id="curl" [(ngModel)]="payuform.curl" value="" />

					<button type="submit" class="ext action-button site-btn" name="contact-button">Submit</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">

				<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
						alt="logo"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5">

				<p style="font-size:17px">Contact us:</p>
				<ul class="list-unstyled">
					<li>
						<p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
					</li>
					<li>
						<p style="font-size:14px">Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on
							public holidays and bank
							holidays)</p><br>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">HOW TO REEDEM</a></li> -->
					<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
					<!-- <li><a href="#">Privacy Policy</a></li> -->
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>


















































































































































































































































































































































































































































































