// .bs-datepicker {
//     display: flex;
//     align-items: stretch;
//     flex-flow: row wrap;
//     background: #fff;
//     box-shadow: 0 0 10px 0 #aaa;
//     position: relative;
//     z-index: 1
// }

// .bs-datepicker:after {
//     clear: both;
//     content: '';
//     display: block
// }

// .bs-datepicker bs-day-picker {
//     float: left
// }

// .bs-datepicker button:active,
// .bs-datepicker button:focus,
// .bs-datepicker button:hover,
// .bs-datepicker input:active,
// .bs-datepicker input:focus,
// .bs-datepicker input:hover,
// .bs-datepicker-btns button:active,
// .bs-datepicker-btns button:focus,
// .bs-datepicker-btns button:hover,
// .bs-datepicker-predefined-btns button:active,
// .bs-datepicker-predefined-btns button:focus {
//     outline: 0
// }

// .bs-datepicker-head {
//     min-width: 270px;
//     height: 50px;
//     padding: 10px;
//     border-radius: 3px 3px 0 0;
//     text-align: justify
// }

// .bs-datepicker-head:after {
//     content: "";
//     display: inline-block;
//     vertical-align: top;
//     width: 100%
// }

// .bs-datepicker-head button {
//     display: inline-block;
//     vertical-align: top;
//     padding: 0;
//     height: 30px;
//     line-height: 30px;
//     border: 0;
//     background: 0 0;
//     text-align: center;
//     cursor: pointer;
//     color: #fff;
//     transition: .3s
// }

// .bs-datepicker-head button[disabled],
// .bs-datepicker-head button[disabled]:active,
// .bs-datepicker-head button[disabled]:hover {
//     background: rgba(221, 221, 221, .3);
//     color: #f5f5f5;
//     cursor: not-allowed
// }

// .bs-datepicker-head button.next,
// .bs-datepicker-head button.previous {
//     border-radius: 50%;
//     width: 30px;
//     height: 30px
// }

// .bs-datepicker-head button.next span,
// .bs-datepicker-head button.previous span {
//     font-size: 28px;
//     line-height: 1;
//     display: inline-block;
//     position: relative;
//     height: 100%;
//     width: 100%;
//     border-radius: 50%
// }

// .bs-datepicker-head button.current {
//     border-radius: 15px;
//     max-width: 155px;
//     padding: 0 13px
// }

// .bs-datepicker-head button:hover {
//     background-color: rgba(0, 0, 0, .1)
// }

// .bs-datepicker-head button:active {
//     background-color: rgba(0, 0, 0, .2)
// }

// .bs-datepicker-body {
//     padding: 10px;
//     border-radius: 0 0 3px 3px;
//     min-height: 232px;
//     min-width: 278px;
//     border: 1px solid #e9edf0
// }

// .bs-datepicker-body .days.weeks {
//     position: relative;
//     z-index: 1
// }

// .bs-datepicker-body table {
//     width: 100%;
//     border-collapse: separate;
//     border-spacing: 0
// }

// .bs-datepicker-body table th {
//     font-size: 13px;
//     color: #9aaec1;
//     font-weight: 400;
//     text-align: center
// }

// .bs-datepicker-body table td {
//     color: #54708b;
//     text-align: center;
//     position: relative;
//     padding: 0
// }

// .bs-datepicker-body table td span {
//     display: block;
//     margin: 0 auto;
//     font-size: 13px;
//     border-radius: 50%;
//     position: relative;
//     -moz-user-select: none;
//     -webkit-user-select: none;
//     -ms-user-select: none
// }

// .bs-datepicker-body table td:not(.disabled):not(.week) span:not(.disabled):not(.is-other-month) {
//     cursor: pointer
// }

// .bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected),
// .bs-datepicker-body table td.is-highlighted:not(.disabled):not(.selected) span {
//     background-color: #e9edf0;
//     transition: none
// }

// .bs-datepicker-body table td span.is-active-other-month:not(.disabled):not(.selected),
// .bs-datepicker-body table td.is-active-other-month:not(.disabled):not(.selected) span {
//     background-color: #e9edf0;
//     transition: none;
//     cursor: pointer
// }

// .bs-datepicker-body table td span.disabled,
// .bs-datepicker-body table td.disabled span {
//     color: #9aaec1
// }

// .bs-datepicker-body table td span.selected,
// .bs-datepicker-body table td.selected span {
//     color: #fff
// }

// .bs-datepicker-body table td span.is-other-month,
// .bs-datepicker-body table td.is-other-month span {
//     color: rgba(0, 0, 0, .25)
// }

// .bs-datepicker-body table td.active {
//     position: relative
// }

// .bs-datepicker-body table td.active.select-start:before {
//     left: 35%
// }

// .bs-datepicker-body table td.active.select-end:before {
//     left: -85%
// }

// .bs-datepicker-body table td span.active.select-end:after,
// .bs-datepicker-body table td span.active.select-start:after,
// .bs-datepicker-body table td.active.select-end span:after,
// .bs-datepicker-body table td.active.select-start span:after {
//     content: "";
//     display: block;
//     position: absolute;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     transition: .3s;
//     top: 0;
//     border-radius: 50%
// }

// .bs-datepicker-body table td span:before,
// .bs-datepicker-body table td:before {
//     content: "";
//     display: block;
//     position: absolute;
//     z-index: -1;
//     top: 6px;
//     bottom: 6px;
//     left: -2px;
//     right: -2px;
//     box-sizing: content-box;
//     background: 0 0
// }

// .bs-datepicker-body table td.active.select-start+td.active:before {
//     left: -20%
// }

// .bs-datepicker-body table td:last-child.active:before {
//     border-radius: 0 3px 3px 0;
//     width: 125%;
//     left: -25%
// }

// .bs-datepicker-body table td span[class*=select-],
// .bs-datepicker-body table td[class*=select-] span {
//     border-radius: 50%;
//     color: #fff
// }

// .bs-datepicker-body table.days span.active:not(.select-start):before,
// .bs-datepicker-body table.days span.in-range:not(.select-start):before,
// .bs-datepicker-body table.days td.active:not(.select-start):before,
// .bs-datepicker-body table.days td.in-range:not(.select-start):before {
//     background: #e9edf0
// }

// .bs-datepicker-body table.days span {
//     width: 32px;
//     height: 32px;
//     line-height: 32px
// }

// .bs-datepicker-body table.days span.select-start {
//     z-index: 2
// }

// .bs-datepicker-body table.days span.in-range.select-end:before,
// .bs-datepicker-body table.days span.is-highlighted.in-range:before {
//     background: 0 0;
//     right: 0;
//     left: 0
// }

// .bs-datepicker-body table.days td.active+td.is-highlighted:before,
// .bs-datepicker-body table.days td.active+td.select-end:before,
// .bs-datepicker-body table.days td.in-range+td.is-highlighted:before,
// .bs-datepicker-body table.days td.in-range+td.select-end:before,
// .bs-datepicker-body table.days td.select-start+td.is-highlighted:before,
// .bs-datepicker-body table.days td.select-start+td.select-end:before {
//     background: #e9edf0;
//     width: 100%
// }

// .bs-datepicker-body table.weeks tr td:nth-child(2).active:before {
//     border-radius: 3px 0 0 3px;
//     left: 0;
//     width: 100%
// }

// .bs-datepicker-body table:not(.weeks) tr td:first-child:before {
//     border-radius: 3px 0 0 3px
// }

// .bs-datepicker-body table.years td span {
//     width: 46px;
//     height: 46px;
//     line-height: 45px;
//     margin: 0 auto
// }

// .bs-datepicker-body table.years tr:not(:last-child) td span {
//     margin-bottom: 8px
// }

// .bs-datepicker-body table.months td {
//     height: 52px
// }

// .bs-datepicker-body table.months td span {
//     padding: 6px;
//     border-radius: 15px
// }

// .bs-datepicker .current-timedate {
//     color: #54708b;
//     font-size: 15px;
//     text-align: center;
//     height: 30px;
//     line-height: 30px;
//     border-radius: 20px;
//     border: 1px solid #e9edf0;
//     margin-bottom: 10px;
//     cursor: pointer;
//     text-transform: uppercase;
//     -moz-user-select: none;
//     -webkit-user-select: none;
//     -ms-user-select: none
// }

// .bs-datepicker .current-timedate span:not(:empty):before {
//     content: "";
//     width: 15px;
//     height: 16px;
//     display: inline-block;
//     margin-right: 4px;
//     vertical-align: text-bottom;
//     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAABMklEQVQoU9VTwW3CQBCcOUgBtEBKSAukAnBKME+wFCAlYIhk8sQlxFABtJAScAsuAPBEewYcxCP8ouxrPDsza61uiVN1o6RNHD4htSCmq49RfO71BvMJqBBkITRf1kmUW49nQRC9h1I5AZlBClaL8aP1fKgOOxCx8aSLs+Q19eZuNO8QmPqJRtDFguy7OAcDbJPs+/BKVPDIPrvD2ZJgWAmVe7O0rI0Vqs1seyWUXpuJoppYCa5L+U++NpNPkr5OE2oMdARsb3gykJT5ydZcL8Z9Ww60nxg2LhjON9li9OwXZzo+xLbp3nC2s9CL2RrueGyVrgwNm8HpsCzZ9EEW6kqXlo1GQe03FzP/7W8Hl0dBtu7Bf7zt6mIwvX1RvzDCm7+q3mAW0Dl/GPdUCeXrZLT9BrDrGkm4qlPvAAAAAElFTkSuQmCC)
// }

// .bs-datepicker-multiple {
//     border-radius: 4px 0 0 4px
// }

// .bs-datepicker-multiple+.bs-datepicker-multiple {
//     margin-left: 10px
// }

// .bs-datepicker-multiple .bs-datepicker {
//     box-shadow: none;
//     position: relative
// }

// .bs-datepicker-multiple .bs-datepicker:not(:last-child) {
//     padding-right: 10px
// }

// .bs-datepicker-multiple .bs-datepicker+.bs-datepicker:after {
//     content: "";
//     display: block;
//     width: 14px;
//     height: 10px;
//     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAA1ElEQVQoU42RsQrCUAxF77VuDu7O4oMWW//BURBBpZvgKk4uIrjoqKOTf+DopIO4uYggtFTfw3+pkQqCW1/G5J7kJiFy4m5MxUlxAzgIPHX+lzMPzupRYlYgxiR7vqsOP8YKzsTx0yxFMCUZ+q7aZzlr+OvgoWcAFyAHgat2jLWu48252DdqAihDJGSSJNUUxYmQjs3+hPQBlAh2rG2LCOPnaw3IiGDX99TRCs7ASJsNhUOA7d/LcuHvRG22FIZvsNXw1MX6VZExCilOQKEfeLXr/10+aC9Ho7arh7oAAAAASUVORK5CYII=);
//     position: absolute;
//     top: 25px;
//     left: -8px
// }

// .bs-datepicker-multiple .bs-datepicker .left {
//     float: left
// }

// .bs-datepicker-multiple .bs-datepicker .right {
//     float: right
// }

// .bs-datepicker-container {
//     padding: 15px
// }

// .bs-datepicker .bs-media-container {
//     display: flex
// }

// @media (max-width:768px) {
//     .bs-datepicker .bs-media-container {
//         flex-direction: column
//     }
// }

// .bs-datepicker-custom-range {
//     padding: 15px;
//     background: #eee
// }

// .bs-datepicker-predefined-btns button {
//     width: 100%;
//     display: block;
//     height: 30px;
//     background-color: #9aaec1;
//     border-radius: 4px;
//     color: #fff;
//     border: 0;
//     margin-bottom: 10px;
//     padding: 0 18px;
//     text-align: left;
//     transition: .3s
// }

// .bs-datepicker-predefined-btns button:active,
// .bs-datepicker-predefined-btns button:hover {
//     background-color: #54708b
// }

// .bs-datepicker-buttons {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: flex-end;
//     padding-top: 10px;
//     border-top: 1px solid #e9edf0
// }

// .bs-datepicker-buttons .btn-default {
//     margin-left: 10px
// }

// .bs-timepicker-container {
//     padding: 10px 0
// }

// .bs-timepicker-label {
//     color: #54708b;
//     margin-bottom: 10px
// }

// .bs-timepicker-controls {
//     display: inline-block;
//     vertical-align: top;
//     margin-right: 10px
// }

// .bs-timepicker-controls button {
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     border: 0;
//     background-color: #e9edf0;
//     color: #54708b;
//     font-size: 16px;
//     font-weight: 700;
//     vertical-align: middle;
//     line-height: 0;
//     padding: 0;
//     transition: .3s
// }

// .bs-timepicker-controls button:hover {
//     background-color: #d5dadd
// }

// .bs-timepicker-controls input {
//     width: 35px;
//     height: 25px;
//     border-radius: 13px;
//     text-align: center;
//     border: 1px solid #e9edf0
// }

// .bs-timepicker .switch-time-format {
//     text-transform: uppercase;
//     min-width: 54px;
//     height: 25px;
//     border-radius: 20px;
//     border: 1px solid #e9edf0;
//     background: #fff;
//     color: #54708b;
//     font-size: 13px
// }

// .bs-timepicker .switch-time-format img {
//     vertical-align: initial;
//     margin-left: 4px
// }

// bs-datepicker-container,
// bs-daterangepicker-container {
//     z-index: 1080
// }

// @media (max-width:768px) {
//     .bs-datepicker-multiple {
//         display: flex
//     }
//     .bs-datepicker-multiple+.bs-datepicker-multiple {
//         margin-top: 10px;
//         margin-left: 0
//     }
// }

// .theme-default .bs-datepicker-body table td span.selected,
// .theme-default .bs-datepicker-body table td span[class*=select-]:after,
// .theme-default .bs-datepicker-body table td.selected span,
// .theme-default .bs-datepicker-body table td[class*=select-] span:after,
// .theme-default .bs-datepicker-head {
//     background-color: #777
// }

// .theme-default .bs-datepicker-body table td.week span {
//     color: #777
// }

// .theme-default .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #777;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// .theme-green .bs-datepicker-body table td span.selected,
// .theme-green .bs-datepicker-body table td span[class*=select-]:after,
// .theme-green .bs-datepicker-body table td.selected span,
// .theme-green .bs-datepicker-body table td[class*=select-] span:after,
// .theme-green .bs-datepicker-head {
//     background-color: #5cb85c
// }

// .theme-green .bs-datepicker-body table td.week span {
//     color: #5cb85c
// }

// .theme-green .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #5cb85c;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// .theme-blue .bs-datepicker-body table td span.selected,
// .theme-blue .bs-datepicker-body table td span[class*=select-]:after,
// .theme-blue .bs-datepicker-body table td.selected span,
// .theme-blue .bs-datepicker-body table td[class*=select-] span:after,
// .theme-blue .bs-datepicker-head {
//     background-color: #5bc0de
// }

// .theme-blue .bs-datepicker-body table td.week span {
//     color: #5bc0de
// }

// .theme-blue .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #5bc0de;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// .theme-dark-blue .bs-datepicker-body table td span.selected,
// .theme-dark-blue .bs-datepicker-body table td span[class*=select-]:after,
// .theme-dark-blue .bs-datepicker-body table td.selected span,
// .theme-dark-blue .bs-datepicker-body table td[class*=select-] span:after,
// .theme-dark-blue .bs-datepicker-head {
//     background-color: #337ab7
// }

// .theme-dark-blue .bs-datepicker-body table td.week span {
//     color: #337ab7
// }

// .theme-dark-blue .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #337ab7;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// .theme-red .bs-datepicker-body table td span.selected,
// .theme-red .bs-datepicker-body table td span[class*=select-]:after,
// .theme-red .bs-datepicker-body table td.selected span,
// .theme-red .bs-datepicker-body table td[class*=select-] span:after,
// .theme-red .bs-datepicker-head {
//     background-color: #d9534f
// }

// .theme-red .bs-datepicker-body table td.week span {
//     color: #d9534f
// }

// .theme-red .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #d9534f;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// .theme-orange .bs-datepicker-body table td span.selected,
// .theme-orange .bs-datepicker-body table td span[class*=select-]:after,
// .theme-orange .bs-datepicker-body table td.selected span,
// .theme-orange .bs-datepicker-body table td[class*=select-] span:after,
// .theme-orange .bs-datepicker-head {
//     background-color: #f0ad4e
// }

// .theme-orange .bs-datepicker-body table td.week span {
//     color: #f0ad4e
// }

// .theme-orange .bs-datepicker-body table td.active-week span:hover {
//     cursor: pointer;
//     background-color: #f0ad4e;
//     color: #fff;
//     opacity: .5;
//     transition: none
// }

// html {
//     box-sizing: border-box;
//     font-family: sans-serif;
//     line-height: 1.15;
//     -webkit-text-size-adjust: 100%;
//     -ms-text-size-adjust: 100%;
//     -ms-overflow-style: scrollbar;
//     -webkit-tap-highlight-color: transparent
// }

// *,
// ::after,
// ::before {
//     box-sizing: inherit
// }

// @-ms-viewport {
//     width: device-width
// }

// article,
// aside,
// dialog,
// figcaption,
// figure,
// footer,
// header,
// hgroup,
// main,
// nav,
// section {
//     display: block
// }

// body {
//     margin: 0;
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #212529;
//     background-color: #fff;
//     min-width: 320px
// }

// [tabindex="-1"]:focus {
//     outline: 0!important
// }

// hr {
//     box-sizing: content-box;
//     height: 0;
//     overflow: visible
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//     margin-top: 0;
//     margin-bottom: .5rem
// }

// dl,
// ol,
// p,
// ul {
//     margin-top: 0;
//     margin-bottom: 1rem
// }

// abbr[data-original-title],
// abbr[title] {
//     text-decoration: underline;
//     -webkit-text-decoration: underline dotted;
//     text-decoration: underline dotted;
//     cursor: help;
//     border-bottom: 0
// }

// address {
//     margin-bottom: 1rem;
//     font-style: normal;
//     line-height: inherit
// }

// ol ol,
// ol ul,
// ul ol,
// ul ul {
//     margin-bottom: 0
// }

// dt {
//     font-weight: 700
// }

// dd {
//     margin-bottom: .5rem;
//     margin-left: 0
// }

// blockquote,
// figure {
//     margin: 0 0 1rem
// }

// dfn {
//     font-style: italic
// }

// b,
// strong {
//     font-weight: bolder
// }

// small {
//     font-size: 80%
// }

// sub,
// sup {
//     position: relative;
//     font-size: 75%;
//     line-height: 0;
//     vertical-align: baseline
// }

// sub {
//     bottom: -.25em
// }

// sup {
//     top: -.5em
// }

// a {
//     color: #007bff;
//     text-decoration: none;
//     background-color: transparent;
//     -webkit-text-decoration-skip: objects
// }

// a:hover {
//     color: #0056b3;
//     text-decoration: none
// }

// a:not([href]):not([tabindex]),
// a:not([href]):not([tabindex]):focus,
// a:not([href]):not([tabindex]):hover {
//     text-decoration: none
// }

// a:not([href]):not([tabindex]):focus,
// h1:focus,
// h2:focus,
// h3:focus,
// h4:focus {
//     outline: 0
// }

// code,
// kbd,
// pre,
// samp {
//     font-family: monospace, monospace;
//     font-size: 1em
// }

// pre {
//     margin-top: 0;
//     margin-bottom: 1rem;
//     overflow: auto
// }

// img {
//     vertical-align: middle;
//     border-style: none
// }

// svg:not(:root) {
//     overflow: hidden
// }

// [role=button],
// a,
// area,
// button,
// input,
// label,
// select,
// summary,
// textarea {
//     touch-action: manipulation
// }

// table {
//     border-collapse: collapse
// }

// caption {
//     padding-top: .75rem;
//     padding-bottom: .75rem;
//     color: #868e96;
//     text-align: left;
//     caption-side: bottom
// }

// th {
//     text-align: left
// }

// label {
//     display: inline-block;
//     margin-bottom: .5rem
// }

// button:focus {
//     outline: dotted 1px;
//     outline: -webkit-focus-ring-color auto 5px
// }

// button,
// input,
// optgroup,
// select,
// textarea {
//     margin: 0;
//     font-family: inherit;
//     font-size: inherit;
//     line-height: inherit
// }

// button,
// input {
//     overflow: visible
// }

// button,
// select {
//     text-transform: none
// }

// [type=reset],
// [type=submit],
// button,
// html [type=button] {
//     -webkit-appearance: button
// }

// [type=button]::-moz-focus-inner,
// [type=reset]::-moz-focus-inner,
// [type=submit]::-moz-focus-inner,
// button::-moz-focus-inner {
//     padding: 0;
//     border-style: none
// }

// input[type=checkbox],
// input[type=radio] {
//     box-sizing: border-box;
//     padding: 0
// }

// input[type=date],
// input[type=datetime-local],
// input[type=month],
// input[type=time] {
//     -webkit-appearance: listbox
// }

// textarea {
//     overflow: auto;
//     resize: vertical
// }

// fieldset {
//     min-width: 0;
//     padding: 0;
//     margin: 0;
//     border: 0
// }

// legend {
//     display: block;
//     width: 100%;
//     max-width: 100%;
//     padding: 0;
//     margin-bottom: .5rem;
//     font-size: 1.5rem;
//     line-height: inherit;
//     color: inherit;
//     white-space: normal
// }

// progress {
//     vertical-align: baseline
// }

// [type=number]::-webkit-inner-spin-button,
// [type=number]::-webkit-outer-spin-button {
//     height: auto
// }

// [type=search] {
//     outline-offset: -2px;
//     -webkit-appearance: none
// }

// [type=search]::-webkit-search-cancel-button,
// [type=search]::-webkit-search-decoration {
//     -webkit-appearance: none
// }

// ::-webkit-file-upload-button {
//     font: inherit;
//     -webkit-appearance: button
// }

// output {
//     display: inline-block
// }

// summary {
//     display: list-item
// }

// template {
//     display: none
// }

// .hidden,
// [hidden] {
//     display: none!important
// }

// html {
//     touch-action: manipulation;
//     -webkit-touch-callout: none;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     font-size: inherit
// }

// code {
//     word-break: normal
// }

// .header {
//     min-height: 64px;
//     padding: 12px 20px;
//     background-color: #1976d2;
//     display: flex;
//     flex-flow: row nowrap
// }

// .header .logo {
//     color: #fff;
//     margin-bottom: 0;
//     font-size: 1.375rem;
//     cursor: pointer;
//     transition: .3s
// }

// .header .logo img {
//     display: block
// }

// .header .logo:hover {
//     opacity: .8
// }

// .header .logo:active {
//     -webkit-transform: scale(.95);
//     transform: scale(.95)
// }

// .header-info {
//     margin-left: auto;
//     display: flex;
//     flex-flow: row nowrap;
//     align-items: center
// }

// .header-list {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     display: flex;
//     flex-flow: row nowrap
// }

// .header-list li {
//     width: 21px;
//     height: 21px;
//     margin-left: 16px
// }

// .header-list li a {
//     display: block;
//     opacity: .7
// }

// .header-list li a:hover {
//     opacity: 1
// }

// .header-list li img {
//     width: 100%;
//     height: 100%;
//     display: block
// }

// .header .prev-docs {
//     line-height: 21px;
//     color: #fff
// }

// .header .prev-docs .dropdown-toggle {
//     opacity: .7;
//     cursor: pointer
// }

// .header .prev-docs .dropdown-toggle:hover {
//     opacity: 1
// }

// .main {
//     display: flex;
//     flex-wrap: wrap
// }

// .sponsor-icon {
//     margin: -3px 8px 0 0
// }

// .sponsor-link {
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: 600;
//     letter-spacing: .4px;
//     color: #555
// }

// .sponsor-link:hover {
//     color: #0056b3
// }

// .content-supporting {
//     max-width: 700px;
//     margin: 0 auto
// }

// .entry {
//     padding: 75px 0
// }

// .entry .slogan {
//     padding: 30px 0 20px;
//     margin: 0;
//     text-transform: uppercase
// }

// .entry .btn-block {
//     margin: 40px 0 20px
// }

// .entry .btn-block .btn {
//     min-width: 160px;
//     margin: 0 13px;
//     padding: 12px 10px;
//     cursor: pointer;
//     text-transform: uppercase;
//     letter-spacing: 2px
// }

// .entry .version {
//     font-weight: 400;
//     color: #666;
//     margin: 0
// }

// .advantages {
//     background: #f8f8f8
// }

// .advantages .holder {
//     padding: 80px 10%
// }

// .advantages .holder .col-12 {
//     padding-top: 40px;
//     padding-bottom: 40px
// }

// .advantages .img-holder {
//     flex: 0 0 80px;
//     max-width: 80px;
//     height: 60px;
//     margin-bottom: 15px;
//     padding-right: 10px
// }

// .advantages .img-holder img {
//     display: block;
//     max-width: 100%
// }

// .advantages .txt-holder {
//     flex: 0 0 calc(100% - 80px);
//     max-width: calc(100% - 80px)
// }

// .advantages .txt-holder h4 {
//     color: #333
// }

// .advantages .txt-holder p {
//     margin: 15px 0 0;
//     color: #666
// }

// .sidebar {
//     order: 0;
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//     border-right: 1px solid #dadada;
//     border-bottom: 1px solid #dadada
// }

// .sidebar-search {
//     padding: 15px 19px 15px 20px;
//     border-bottom: 1px solid #dadada
// }

// .sidebar-search input {
//     outline-offset: -2px;
//     -webkit-appearance: none;
//     margin: 0;
//     display: block;
//     width: 100%;
//     padding: .5rem .75rem;
//     font-size: 1rem;
//     line-height: 1.25;
//     color: #495057;
//     background-color: #fff;
//     background-image: none;
//     background-clip: padding-box;
//     border: 1px solid rgba(0, 0, 0, .15);
//     border-radius: .25rem;
//     transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
// }

// .sidebar-search:focus {
//     border-color: #1976d2;
//     box-shadow: 0 0 0 3px rgba(25, 118, 210, .15)
// }

// .sidebar .bootstrap-version {
//     padding: 15px 19px 10px 20px;
//     display: flex;
//     flex-flow: row wrap;
//     align-items: center;
//     border-bottom: 1px solid #dadada
// }

// .sidebar .bootstrap-version span {
//     margin-right: 4px
// }

// .sidebar .bootstrap-version .btn {
//     cursor: pointer;
//     text-align: center;
//     white-space: nowrap;
//     vertical-align: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     border: 1px solid transparent;
//     background-color: #dadadd;
//     padding: 6px 8px;
//     font-size: .8125rem;
//     line-height: 1.25;
//     transition: .15s ease-in-out
// }

// .sidebar .bootstrap-version .btn:first-of-type {
//     border-radius: .25rem 0 0 .25rem
// }

// .sidebar .bootstrap-version .btn:last-of-type {
//     border-radius: 0 .25rem .25rem 0
// }

// .sidebar .bootstrap-version .btn.selected {
//     background-color: #1976d2;
//     color: #fff
// }

// .sidebar .bootstrap-version .btn:focus {
//     outline: 0;
//     box-shadow: none
// }

// .sidebar-content {
//     padding: 15px 19px 15px 20px;
//     overflow: auto;
//     max-height: calc(100vh - 194px)
// }

// .sidebar-list {
//     margin: 0;
//     padding: 0;
//     list-style: none
// }

// .sidebar-list li a {
//     display: block;
//     color: #666;
//     padding: 9px 0;
//     line-height: 1;
//     text-decoration: none
// }

// .sidebar-list li.active a,
// .sidebar-list li:hover a {
//     color: #1976d2;
//     text-decoration: none
// }

// .sidebar-title {
//     font-size: 1.125rem;
//     color: #333;
//     margin-top: 25px
// }

// .main-container {
//     flex: 0 0 66.666667%;
//     max-width: 66.666667%;
//     margin-left: 16.66667%
// }

// .content {
//     padding: 30px 30px 120px
// }

// .content h2[id] {
//     margin-top: 58px
// }

// .content h2[id] .anchor-link,
// .content h3[id] .anchor-link {
//     display: none
// }

// .content h2[id]:hover .anchor-link,
// .content h3[id]:hover .anchor-link {
//     display: inline-block
// }

// .content ng-sample-box .section {
//     margin-bottom: 60px
// }

// .content ng-sample-box .section.bd-example {
//     margin-bottom: 10px
// }

// .content ng-sample-box .tab-content .prettyprint {
//     border-top: none;
//     border-top-left-radius: 0;
//     border-top-right-radius: 0
// }

// .content .main-logo {
//     margin-top: 30px;
//     margin-bottom: 20px
// }

// .api-doc-component>h3 {
//     margin-top: 20px
// }

// .api-doc-component .table td {
//     padding: 1rem
// }

// .api-doc-component .table td p {
//     margin-bottom: 0
// }

// .api-doc-component .table-b {
//     overflow-x: auto
// }

// .panel-body {
//     padding: 15px
// }

// .add-nav {
//     flex: 0 0 16.666667%;
//     max-width: 16.666667%;
//     padding-right: 5px;
//     position: fixed;
//     top: 84px;
//     left: 83.33%;
//     right: 0;
//     max-height: calc(100vh - 104px);
//     overflow: auto;
//     direction: rtl
// }

// .add-nav ul {
//     margin: 0;
//     padding: 0 0 0 20px;
//     font-size: 14px;
//     list-style: none;
//     direction: ltr
// }

// .add-nav ul li a {
//     word-break: break-all;
//     word-break: break-word;
//     display: block;
//     padding: 5px 0;
//     line-height: 1.2;
//     color: #666
// }

// .add-nav ul li a:hover {
//     color: #1976d2
// }

// .add-nav>ul {
//     border-left: 1px solid #dadada
// }

// .app-footer {
//     border-top: 1px solid #dadada;
//     padding: 30px 30px 41px
// }

// .app-footer p {
//     line-height: 1.1;
//     margin: 0;
//     padding: 9px 0;
//     font-size: 1rem;
//     color: #878787
// }

// .app-footer p a {
//     color: #262626;
//     text-decoration: none
// }

// .app-footer p a:focus,
// .app-footer p a:hover {
//     text-decoration: underline
// }

// .landing-footer .app-footer {
//     border-top: none;
//     height: 330px;
//     padding-top: 120px;
//     text-align: center;
//     background: #fff
// }

// .bd-example {
//     position: relative
// }

// .bd-example:after {
//     content: "";
//     display: table;
//     clear: both
// }

// .tooltip.customClass.fade {
//     transition: opacity 1s
// }

// .tooltip.customClass .tooltip-inner {
//     color: #800;
//     background-color: #ff6;
//     box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
// }

// .tooltip.customClass .arrow:before,
// .tooltip.customClass .tooltip-arrow {
//     border-top-color: #ffff75
// }

// .popover.customClass,
// .popover.customClass .popover-content {
//     background: #94bada
// }

// .popover.customClass.top>.arrow:after {
//     border-top-color: #94bada
// }

// .nav-item.customClass {
//     float: right
// }

// .nav-item.customClass:first-child {
//     margin-left: auto
// }

// .nav-item.customClass a {
//     background-color: #50ff50;
//     color: white;
// }

// .card.customClass,
// .card.customClass .card-header,
// .panel.customClass {
//     background-color: #5bc0de;
//     color: #fff
// }

// .panel.customClass .panel-body {
//     background-color: #337aa7
// }

// .code-preview {
//     display: block;
//     padding: 10px;
//     margin: 0 0 10px;
//     font-size: 13px;
//     line-height: 1.4;
//     color: #333;
//     word-break: break-all;
//     word-wrap: break-word;
//     background-color: #f5f5f5;
//     border: 1px solid #ccc;
//     border-radius: 4px
// }

// @media (min-width:768px) {
//     .header {
//         position: fixed;
//         width: 100%;
//         top: 0;
//         z-index: 1090
//     }
//     .header-dropdown {
//         z-index: 1090
//     }
//     .main {
//         padding-top: 64px
//     }
//     .modal-backdrop {
//         z-index: 2000
//     }
//     .modal {
//         z-index: 2001
//     }
//     .sidebar {
//         position: fixed;
//         top: 64px;
//         bottom: 0
//     }
//     #mobile-main-menu {
//         display: none
//     }
// }

// @media (max-width:1199px) {
//     .add-nav {
//         display: none
//     }
//     .main-container {
//         flex: 0 0 75%;
//         max-width: 75%;
//         margin-left: 25%
//     }
//     .content h2[id] .anchor-link,
//     .content h3[id] .anchor-link {
//         display: inline-block
//     }
//     .advantages .holder {
//         padding-left: 5%;
//         padding-right: 5%
//     }
//     .sidebar {
//         flex: 0 0 25%;
//         max-width: 25%
//     }
// }

// @media (max-width:991px) {
//     .advantages .img-holder,
//     .advantages .txt-holder {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
// }

// @media (max-width:767px) {
//     .header {
//         min-height: 54px;
//         padding: 15px
//     }
//     .header .logo {
//         font-size: 1.25rem
//     }
//     .advantages .holder {
//         padding: 30px 0
//     }
//     .main-container,
//     .sidebar {
//         flex: 0 0 100%;
//         max-width: 100%
//     }
//     .main-container {
//         margin-left: 0
//     }
//     .sidebar {
//         border-right: none;
//         border-bottom: none;
//         position: relative
//     }
//     .sidebar .sidebar-search {
//         display: flex;
//         flex-flow: row nowrap;
//         justify-content: space-between
//     }
//     .isOpenMenu {
//         overflow: hidden
//     }
//     #mobile-main-menu {
//         cursor: pointer;
//         border-color: transparent;
//         background: 0 0;
//         padding: 0;
//         margin-left: 15px
//     }
//     .mobile-menu {
//         position: absolute;
//         left: 100%;
//         width: 100%;
//         height: calc(100vh - 123px);
//         background: #fff;
//         z-index: 2;
//         transition: left .4s;
//         padding-bottom: 10px;
//         border-bottom: 1px solid #dadada
//     }
//     .isOpenMenu .mobile-menu {
//         top: 100%;
//         left: 0
//     }
//     .main {
//         overflow: hidden
//     }
//     .content {
//         padding: 20px 15px 90px
//     }
//     .content h2[id] {
//         margin-top: 43px
//     }
//     .api-doc-component h3 {
//         word-break: break-all
//     }
//     .app-footer {
//         padding: 30px 15px
//     }
// }

// @media (max-width:575px) {
//     .entry .btn-block .btn {
//         display: block;
//         width: 300px;
//         margin: 0 auto
//     }
//     .entry .btn-block .btn:first-child {
//         margin-bottom: 15px
//     }
//     .advantages .img-holder,
//     .advantages .txt-holder {
//         padding: 0;
//         margin: 0;
//         text-align: center
//     }
//     .advantages .img-holder img {
//         margin: 0 auto 10px
//     }
//     .advantages .holder .col-12 {
//         padding-top: 30px;
//         padding-bottom: 30px
//     }
//     .advantages .holder .col-12:last-child {
//         padding-bottom: 0
//     }
// }

// @media (max-width:479px) {
//     .header .prev-docs {
//         display: none
//     }
// }

// .prettyprint {
//     white-space: pre-wrap;
//     background: #f5f6f7;
//     font-family: Monaco, "Lucida Console", monospace;
//     color: #5c707a;
//     width: auto;
//     overflow: auto;
//     position: relative;
//     padding: 16px 32px;
//     font-size: 13px;
//     line-height: 24px;
//     margin-bottom: 24px;
//     border-radius: 4px
// }

// .prettyprint.linenums,
// .prettyprint[class*=" linenums:"],
// .prettyprint[class^="linenums:"] {
//     padding: 0
// }

// .prettyprint.is-showcase {
//     border: 4px solid #0273d4
// }

// .prettyprint code {
//     background: 0 0;
//     font-size: 13px;
//     padding: 0
// }

// .prettyprint ol {
//     background: #f5f6f7;
//     padding: 16px 32px 16px 56px;
//     margin: 0;
//     overflow: auto;
//     font-size: 13px
// }

// .prettyprint .tag,
// .prettyprint ol li {
//     color: #7a8b94;
//     background: 0 0;
//     margin-bottom: 5px;
//     line-height: normal;
//     list-style-type: decimal;
//     font-size: 12px;
//     white-space: pre
// }

// .prettyprint ol li:last-child {
//     margin-bottom: 0
// }

// .prettyprint ol li code {
//     background: 0 0;
//     font-size: 13px
// }

// .prettyprint .blk,
// .prettyprint .pnk {
//     border-radius: 4px;
//     padding: 2px 4px
// }

// .prettyprint .pnk {
//     background: #cfd8dc;
//     color: #5c707a
// }

// .prettyprint .blk {
//     background: #e0e0e0
// }

// .prettyprint .otl {
//     outline: rgba(169, 169, 169, .56) solid 1px
// }

// .prettyprint .kwd,
// .prettyprint .tag,
// .prettyprint .typ {
//     color: #d43669
// }

// .prettyprint .atv,
// .prettyprint .str {
//     color: #647f11
// }

// .prettyprint .atn {
//     color: #31708f
// }

// .prettyprint .com,
// .prettyprint .lit {
//     color: #647f11
// }

// .prettyprint .pun {
//     color: #7a8b94
// }

// .prettyprint .pln {
//     color: #5c707a
// }

// .prettyprint .dec {
//     color: #647f11
// }

// @media print {
//     .prettyprint {
//         background: #f5f6f7;
//         border: none;
//         box-shadow: none
//     }
//     .prettyprint ol {
//         background: #f5f6f7
//     }
//     .prettyprint .kwd,
//     .prettyprint .tag,
//     .prettyprint .typ {
//         color: #d43669
//     }
//     .prettyprint .atv,
//     .prettyprint .str {
//         color: #647f11
//     }
//     .prettyprint .atn {
//         color: #31708f
//     }
//     .prettyprint .com,
//     .prettyprint .lit {
//         color: #647f11
//     }
//     .prettyprint .pun {
//         color: #7a8b94
//     }
//     .prettyprint .pln {
//         color: #5c707a
//     }
//     .prettyprint .dec {
//         color: #647f11
//     }
// }

// h1 .prettyprint,
// h2 .prettyprint,
// h3 .prettyprint,
// h4 .prettyprint {
//     background: 0 0;
//     font-family: Monaco, "Lucida Console", monospace;
//     color: #253238;
//     overflow: hidden;
//     position: relative;
//     font-size: 15px;
//     font-weight: 600;
//     line-height: 24px;
//     margin: 0;
//     border: none;
//     box-shadow: none;
//     padding: 0
// }

// h1 .prettyprint code,
// h2 .prettyprint code,
// h3 .prettyprint code,
// h4 .prettyprint code {
//     background: 0 0;
//     font-size: 15px;
//     padding: 0
// }

// h1 .prettyprint .kwd,
// h2 .prettyprint .kwd,
// h3 .prettyprint .kwd,
// h4 .prettyprint .kwd {
//     color: #253238
// }

// h1 .prettyprint .tag,
// h1 .prettyprint .typ,
// h2 .prettyprint .tag,
// h2 .prettyprint .typ,
// h3 .prettyprint .tag,
// h3 .prettyprint .typ,
// h4 .prettyprint .tag,
// h4 .prettyprint .typ {
//     color: #b52e31
// }

// h1 .prettyprint .atv,
// h1 .prettyprint .str,
// h2 .prettyprint .atv,
// h2 .prettyprint .str,
// h3 .prettyprint .atv,
// h3 .prettyprint .str,
// h4 .prettyprint .atv,
// h4 .prettyprint .str {
//     color: #9d8d00
// }

// h1 .prettyprint .atn,
// h2 .prettyprint .atn,
// h3 .prettyprint .atn,
// h4 .prettyprint .atn {
//     color: #71a436
// }

// h1 .prettyprint .com,
// h2 .prettyprint .com,
// h3 .prettyprint .com,
// h4 .prettyprint .com {
//     color: #afbec5
// }

// h1 .prettyprint .lit,
// h2 .prettyprint .lit,
// h3 .prettyprint .lit,
// h4 .prettyprint .lit {
//     color: #9d8d00
// }

// h1 .prettyprint .pln,
// h1 .prettyprint .pun,
// h2 .prettyprint .pln,
// h2 .prettyprint .pun,
// h3 .prettyprint .pln,
// h3 .prettyprint .pun,
// h4 .prettyprint .pln,
// h4 .prettyprint .pun {
//     color: #000
// }

// h1 .prettyprint .dec,
// h2 .prettyprint .dec,
// h3 .prettyprint .dec,
// h4 .prettyprint .dec {
//     color: #8762c6
// }























