<div class="animated fadeIn" *ngIf="!_offercodes && !_errorMessage">
  <span class="spinner"></span>
</div>

<section class="content animated fadeIn">
  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Theatres List</h3>
                  <div class="pull-right">
                    <a class="btn btn-block btn-primary" [routerLink]="['/theatre', 'create']" routerLinkActive="active"><i class="fa fa-plus"></i> Add New</a>
                  </div>
 
              </div>
              <div class="box-body">
                  <table class="table table-bordered table-striped">
                      <thead>
                      <tr>
                          <th>#</th>                               
                          <th>Theatre Name</th>                        
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let Offercode of pagedItems; let i=index">                                  
                          <td>{{i+1}}</td>                               
                          <td><a (click)="viewCampaign(campaign)">{{Offercode.code}}</a></td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- pager -->
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
              </ul>
      </div>
  </div>
</section>
