<div class="animated fadeIn" *ngIf="!_offercodesummary && !_errorMessage">
  <span class="spinner"></span>
</div>
<section class="content animated fadeIn">
  <div class="row">
      <div class="col-xs-12">
          <div class="box">
              <div class="box-header">
                  <h3 class="box-title">Offercode Summary</h3>
              </div>        
              <div class="box-body">      
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Offercode</th>
                      <th>Reward</th>
                      <th>Used</th>
                      <th>Unused</th>
                    </tr>
                  </thead>
                  <tbody>         
                    <tr *ngFor="let Offercode of _offercodesummary; let i=index">                                                                            
                      <td>{{Offercode.id}}</td>
                      <td>{{Offercode.reward}}</td>                               
                      <td>{{Offercode.used_count}}</td>
                      <td>{{Offercode.unused_count}}</td>
                  </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</section>              