<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
	
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>


	<div class="carousel-inner">
		<div class="item active">
			<img  src="./assets/images/Banner__1.jpg" alt="menu" width="100%">
		</div>

		<div class="item">
	<img  src="./assets/images/Banner__2.jpg" alt="menu" width="100%">
		</div>
	
		<div class="item">
	<img  src="./assets/images/Banner__3.jpg" alt="menu" width="100%">
		</div>
	</div>

	
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div> -->
<div id="main" class="item">
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
	<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
	<!-- <img  src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
</div>
<br>
<br>

<br>
<br>
<div class="container">
	<div class="content-area">
		<div class="multi-step-form">
			<!-- fieldsets -->
			<fieldset>
				<h1 class="status">FAILED!</h1>
				<div class="row">
					<div class="col-lg-12">
						<p>Sorry, The booking is failed.</p>
					</div>
				</div>
				<div>
					<button type="submit" class="ext action-button site-btn" name="contact-button" (click)="goHome()">Go
						To Home</button>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<br>
<br>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">

				<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
						alt="logo"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5">

				<p style="font-size:17px">Contact us:</p>
				<ul class="list-unstyled">
					<li>
						<p>Email: feedback@bigcity.in</p>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
					<!-- <li><a href="#">Privacy Policy</a></li> -->
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>