<div class="login-box">
    <div class="login-logo">
        <a href="index.html"><b>BigCity</b>Promotions</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form [formGroup]="_loginForm" (ngSubmit)="onSubmit(_loginForm.value)">
            <p class="help-block error-text text-center" *ngIf="_errorMessage">{{_errorMessage}}</p>
            <p class="help-block error-text text-center" *ngIf="!_formErrors.password.valid">{{_formErrors.password.message}}</p>
            <div class="form-group has-feedback" [ngClass]="{'has-danger': !_isValid('username')}">
                <div class="form-group field-loginform-email required">
                    <input class="form-control" type="text" placeholder="Username" [formControl]="_loginForm.controls['username']" [ngClass]="{'form-control-danger': !_isValid('username')}">
                </div>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback" [ngClass]="{'has-danger': !_isValid('password')}">
                <div class="form-group field-loginform-password required">
                    <input class="form-control" type="password" placeholder="Password" [formControl]="_loginForm.controls['password']" [ngClass]="{'form-control-danger': !_isValid('password')}">
                </div>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <!--<div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="hidden" name="rememberMe" value="0">
                            <input type="checkbox" id="rememberme" name="rememberMe" value="1" checked /> Remember Me
                        </label>
                    </div>
                </div>-->
                <!-- /.col -->
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="!_loginForm.valid || _submitted == true">Login</button>
                    <div class="spinner spinner-login" *ngIf="_submitted"></div>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>