<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dashboard</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <form [formGroup]="_form">
                        <div class="col-sm-3">
                            <select id="campaign_id" class="form-control" formControlName="campaign_id" #campaign_id>
                                <option value="">Select Campaign</option>
                                <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign.title}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select id="state_id" class="form-control" formControlName="state_id" #state_id>
                                <option value="">Select State</option>
                                <option *ngFor="let state of _states" [value]="state.id">{{state.statename}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" bsDaterangepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" formControlName="filterDate" readonly />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success" (click)="dashboardData(campaign_id.value, state_id.value,  _form.value.filterDate)" [disabled]="!_form.valid || _submitted === true">Search</button>
                            <div *ngIf="_submitted === true" class="spinner"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-blue">
                            <div class="inner">
                                <h3>{{_reportData?.totalrecords}}</h3>
                                <p>Total Records</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a [routerLink]="['/teamleader/list']" [queryParams]="{campaign_id: _campaignId, state_id: _stateId, startdate: _startdate, enddate: _enddate, flag: 'totalrec'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>{{_reportData?.pendingrecords}}</h3>
                                <p>Assigned Records - Pending</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a [routerLink]="['/teamleader/list']" [queryParams]="{campaign_id: _campaignId, state_id: _stateId, startdate: _startdate, enddate: _enddate, flag: 'pendingrec'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-green">
                            <div class="inner">
                                <h3>{{_reportData?.processedrecords}}</h3>
                                <p>Assigned Records - Approved</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a [routerLink]="['/teamleader/list']" [queryParams]="{campaign_id: _campaignId, state_id: _stateId, startdate: _startdate, enddate: _enddate, flag: 'processedrec'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>{{_reportData?.rejectedrecords}}</h3>
                                <p>Assigned Records - Rejected</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a [routerLink]="['/teamleader/list']" [queryParams]="{campaign_id: _campaignId, state_id: _stateId, startdate: _startdate, enddate: _enddate, flag: 'rejectedrec'}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-gray-active">
                            <div class="inner">
                                <h3>{{_reportData?.unassignedrecords}}</h3>
                                <p>Unasssigned Records</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a [routerLink]="['/teamleader/bulkassign']" class="small-box-footer">Click to Bulk Assign <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>