<div id="main" class="item">
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
			<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
		<!-- <img  src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
	</div>
	



 <div class="container" id="cont">
	<div class="content-area">
			<div class="multi-step-form">
					<form [formGroup]="otpForm" id="msform">
							<fieldset>
									<p style="font-size: 20px">Enter the OTP received on your registered mobile no./email. Do not refresh or close this page until you have submitted the OTP.</p>
									<p class="alert alert-danger text-center " *ngIf="_errorMessage2">{{_errorMessage2}}</p>
									<p class="alert alert-danger text-center " *ngIf="_errorMessage">{{_errorMessage}}</p>
									<br>
									
									<div class="form-group required">
									
											<input type="text" class="form-control" formControlName="otp" placeholder="OTP" 
												[ngClass]="{ 'is-invalid': submitted && f.otp.errors }" [(ngModel)]="model.otp" (input)="onSearchChange($event.target.value)">
											<div *ngIf="submitted && f.otp.errors" class="text-danger">
											
												<p  class="small" *ngIf="f.otp.errors.required">*enter the OTP received</p>
												<p  class="small" *ngIf="f.otp.errors.minlength">enter the valid 4 digit OTP</p>
											</div>
											<div class="text-resend" *ngIf="resend">
												<p  class="small" style="color:green;font-size:14px"> OTP has been resent successfully</p>
											</div>  
									</div>      
									         							
									<button type="submit" class="ext action-button site-btn" name="contact-button" (click)="onOTPSubmit()">Submit</button>&nbsp;
									<button  class="ext action-button site-btn" name="contact-button" (click)="resendOTP()">Resend</button>
								
							</fieldset>
					</form>
			</div>
	</div>
</div>
<br>
<br>
<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					
						<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png" alt="logo"></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5">
		
					<p style="font-size:17px">Contact us:</p>
					<ul class="list-unstyled">
						<li>
							<p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
						</li>
						<li>
							<p style="font-size:14px">Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on public holidays and bank
								holidays)</p><br>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
				<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
						<!-- <li><a href="#">Privacy Policy</a></li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
						<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
