<div class="wrap">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		
		<div class="carousel-inner">
			<div class="item active">
				<img src="./assets/images/Banner__1.jpg" alt="menu" width="100%">
			</div>

			<div class="item">
				<img src="./assets/images/Banner__2.jpg" alt="menu" width="100%">
			</div>

			<div class="item">
				<img src="./assets/images/Banner__3.jpg" alt="menu" width="100%">
			</div>
		</div>

		
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
	</div> -->
	<div id="main" class="item">
		<!-- <img  src="./assets/images/Banner__1.jpg" alt="menu" width="100%"> -->
		<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
		<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
	</div>
	<br>
	<div class="wrap">
		<!-- <nav id="w0" class="navbar-inverse navbar" style="background-color:#000;font-size:16px;" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"></a></div><div id="w0-collapse" class="collapse navbar-collapse"><ul id="w1" class="navbar-nav navbar-left nav"><li><a routerLink="/registration" routerLinkActive="active">Registration</a></li>
<li><a routerLink="/booking" routerLinkActive="active">Booking</a></li>
<li class="active"><a routerLink="/terms" routerLinkActive="active">Terms</a></li>
<li><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
</ul></div></div></nav> -->
		<div class="container" style="padding-top: 0px;">
			<!-- <ul class="breadcrumb"><li><a href="/">Home</a></li>
<li class="active">Terms</li>
</ul>             -->
			<div class="site-contact">
				<div class="row">
					<div class="col-lg-12">
					
						<p style="text-align: justify;"><span
								style="font-size: 10pt; font-family: calibri, sans-serif;">&nbsp;</span></p>
								<p><strong>Terms and Conditions: Rs.100 Movie Discount Voucher </strong></p>
<ol>
	<li>This Offer is valid on purchase of any Colgate-Palmolive (India) limited products (“Colgate Products”) in select stores only. For information on Colgate Products, check with the Colgate champion in the offer stores. </li>
	<li>Every end user upon purchase of any Colgate Products per invoice billing, will be entitled to receive one assured and fixed discount movie voucher of Rs. 100/- of Premier Sales Promotions Pvt Ltd. (also referred as “Bigcity”).</li>
	<li>This Offer on Colgate Products entitles end user to get a fixed movie voucher. This Offer is valid from 31stJuly 2019 up to 22nd October,2019. Colgate-Palmolive (India) Limited (“Colgate”) reserves its right to alter, amend, change, cancel, delete, add etc. the terms and conditions hereof without any notice.</li>
	<li>This offer entitles the end user to redeem the said voucher up to Rs.100/- discount on one online movie transaction (Minimum transaction value is Rs.150 on two movie tickets) on select movie partners of Bigcity in select cities. Voucher valid for select shows from Monday to Sunday, subject to availability.</li>
	<li>The tickets cannot be booked directly at the Theatre. </li>
	<li>These Gift Vouchers are basically a value discount of Rs. 100 as mentioned in the offer voucher or email. In some cases, the value of the coupon may or will be adjusted to the nearest rounded of +/- movie ticket value or movie ticket value, as per offer & discretion of participating partners. </li>
	<li>If you are registered with Do Not Disturb (DND) service, you will not receive SMS confirmation from us. Please call email us at feedback@bigcity.in for queries. </li>
	<li>The offer is based on advance bookings only and is subject to promotional availability. </li>
	<li>The movie ticket booking has to be for a currently running movie or released movie. No request for advance bookings for forthcoming movie releases will be entertained. </li>
	<li>The usage of this voucher is incumbent upon few conditions to be followed by the voucher holder. </li>
	<li>Walk-in customers without prior booking will not be entertained at the venue. </li>
	<li>This offer is not exchangeable for “cash” or for sale.</li>
	<li>The "How to Use" instructions form a part of these Terms &Conditions. </li>
	<li>Discount is offered on minimum and maximum of 2 movie tickets and on maximum of 1 transaction only (Minimum transaction value is Rs.150). The balance cost (after discount) of the ticket will be charged to the credit/ debit card of the end user. </li>
	<li>Online merchant payment charges, service charges, taxes will be as applicable and will be bourne by the customer/voucher holder. </li>
	<li>You will receive a SMS 24 hours prior to your preferred booking date with confirmation of your bookings. </li>
	<li>Premier Sales Promotions Pvt Ltd will not be liable for any failed or incomplete transactions. All such queries to be taken up with customer banking partner. </li>
	<li>Film classification rules apply, and identification may be required. </li>
	<li>The theatre manager’s decision is final and standard cinema rules apply. </li>
	<li>The holder of this voucher is not entitled to any preferential right over other movie goers/ patrons. </li>
	<li>The list of participating venues remains subject to change. </li>
	<li>Only one voucher code per booking will be entertained. Multiple vouchers cannot be booked.</li>
	<li>Only one voucher may be used per person, per household, per venue, per booking group (group is defined as more than one person accompanying the voucher holder). </li>
</ol>
<p>&nbsp;</p>
<p><strong><u>General Terms&amp;Conditions</u></strong></p>
<ol>
	<li>This offer is not available to employees, Agents, Dealers, or Distributors of <strong>Colgate-Palmolive (India) Limited </strong>and PREMIER SALES PROMOTIONS PVT LTD, its clients or agencies and their immediate families.</li>
	<li>The offer is open to residents of India, except employees of Colgate-Palmolive (India) Limited and Premier Sales Promotions Pvt. Ltd., its agents and distributors and their immediate families.</li>
	<li>The usage of this Voucher is incumbent upon the terms &amp; conditions to be followed by the voucher holder/purchaser. Such conditions need to be followed by the voucher holder/purchaser.</li>
	<li>In the event of large promotional uplift, venues reserve the right to book voucher holders up to 6 months from the date our agents call you to make a promotional booking.</li>
	<li>The cinema voucher has no monetary value, is non-transferable and cannot be used in conjunction with any other promotional offer.</li>
	<li>Participating venues reserve the right to vary the timings and offer availability. Some venues have restricted timings on the availability of the offer. Customers are recommended to call the concierge in advance to check the exact terms of the offer.</li>
	<li>PREMIER SALES PROMOTIONS PVT LTD is acting as an executing agency for this promotional offer and holds no legal and financial liability on unclaimed offers, incentives, vouchers etc beyond the applicable period of the promotional offer.</li>
	<li>This offer is subject to promotional availability and government regulations.</li>
	<li>Under this promotion, the Vouchers are being offered directly by Premier Sales Promotions Pvt Ltd. Colgate-Palmolive (India) Limited is not responsible either directly or indirectly with respect to any matter pertaining to this Voucher and the prize offered with this Voucher.</li>
	<li>Any costs associated with entering the promotion, including accessing the promotional website, are the responsibility of each entrant. Also, regular call and message rates will apply as per the consumer telecom operator in their respective circle.</li>
</ol>
<p>&nbsp;</p>
<ol start="11">
	<li>Premier Sales Promotions Pvt Ltd. and Colgate-Palmolive (India) Limited reserve the right to change the terms and conditions of this scheme, including extending, withdrawing, or discontinuing the same without notice, without assigning any reason, at their sole discretion and without any liability.</li>
	<li>Premier Sales Promotions Pvt Ltd. and Colgate-Palmolive (India) Limited shall not be liable in any manner for any cost or expense incurred for the purpose of redemption of the Voucher.</li>
	<li>Promoter: <strong>Colgate-Palmolive (India) Limited </strong></li>
	<li>If this promotion is interfered with in any way or is not capable of being conducted as reasonably anticipated due to any reason beyond the reasonable control of the Promoter, including but not limited to technical difficulties, unauthorized intervention or fraud, the Promoter reserves the right, in its sole discretion, to the fullest extent permitted by law (a) to invalidate any customer; or (b) subject to any written directions from a regulatory authority, to modify, suspend, terminate or cancel the promotion, as appropriate.</li>
	<li>The Promoter is not responsible for any problems or technical malfunction of any telephone or network or lines, servers or providers, computer equipment, software, technical problems or traffic congestion on a mobile network, or any combination thereof, or any other technical failures including any damage to entrant's or any other person's mobile handset or computer related to, or resulting from, participation in this promotion or the downloading of any materials related to this promotion.</li>
	<li>If for any reason this promotion is not capable of running as planned because of infection by computer virus, bugs, tampering, unauthorized intervention, technical failures or any other causes beyond the reasonable control of the Promoter which corrupt or affect the administration, security, fairness, integrity or proper conduct of this promotion, the Promoter reserves the right in its sole discretion to cancel, terminate, modify or suspend the promotion, subject to any written directions made under applicable State or Territory legislation.</li>
	<li>Caution: any attempt to deliberately damage the Promoter&rsquo;s promotional website or the information on the website, to cause malicious damage or interference with the normal functioning of the website, or to otherwise undermine the legitimate operation of this promotion may be a violation of criminal and civil laws and should such an attempt be made, whether successful or not, the Promoter reserves the right to seek damages to the fullest extent permitted by law. If the Promoter suffers loss or incurs any costs in connection with any breach of these Terms or any other legal obligation by an entrant, the entrant agrees to indemnify the promoter for those losses, damages and costs.</li>
	<li>This voucher has no monetary value, is non-transferable and cannot be used in conjunction with any other promotional offer.</li>
	<li>Premier Sales Promotions Pvt Ltd. and Colgate-Palmolive (India) Limited will have no legal and financial liability on unclaimed offers, incentives, vouchers etc beyond the applicable period of the promotional offer.</li>
	<li>Premier Sales Promotions Pvt Ltd., its clients, agents and distributors accept no responsibility, financial or otherwise for the misuse of Premier Sales Promotions Pvt Ltd. vouchers, and are not liable for any personal loss or injury and cannot be held responsible for any disagreement concerning quality/ availability of featured venues.</li>
	<li><strong>Colgate-Palmolive (India) Limited </strong>does not endorse the quality of any of the products or services being offered by the Premier Sales Promotions Pvt Ltd or by the theatres. Any complaints or queries pertaining to the same would have to be taken up directly with the Premier Sales Promotions Pvt Ltd marketing of such a product or service.</li>
	<li>Premier Sales Promotions Pvt Ltd., its clients, agents and distributors cannot replace any lost, stolen or damaged vouchers and reserve the right to withdraw or amend any details and/or prices without notice.</li>
	<li>These Terms &amp; Conditions are subject to Indian Law and the exclusive jurisdiction of the Courts in Bangalore.</li>
	<li>For detailed Terms and Conditions please visit www.colgate.bigcityexperience.com</li>
	<li>Offer valid till 31/10/2019. Last date to register 25/10/2019.</li>
	<li>All offers supplied by PREMIER SALES PROMOTIONS PVT LTD, PO Box 25246, Bangalore 560001, India. E-mail: feedback@bigcity.in and all queries should be sent to the said address</li>
</ol>
<p>&nbsp;</p>
						<p>&nbsp;</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">

					<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
							alt="logo"></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5">

					<p style="font-size:17px">Contact us:</p>
					<ul class="list-unstyled">
						<li>
							<p>Email: feedback@bigcity.in</p>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
						<!-- <li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li> -->
						<!-- <li><a href="#">Privacy Policy</a></li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
						<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>