<div>
	<!-- <img src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
</div>
<div class="container">
	<div class="content-area">
		<div class="multi-step-form">
			<fieldset>
				<br>
				<p class="alert alert-danger text-center " *ngIf="_errorMessage">{{_errorMessage}}</p>
				
				<p style="font-size:20px;">BOOKING FORM</p>
				<form [formGroup]="bookingForm" >
					<div class="row">
						<div class="col-lg-6">	

							<div class="form-group f required" >
								<div class=" input-group date">
									<label>Preferred Date</label>
									<input type="text" id="prefereddate" name="prefereddate"
										placeholder="Preferred Date" formControlName="prefereddate" [(ngModel)]="model.prefereddate"
										class="form-control" readonly #prefdate1="bsDatepicker" bsDatepicker
										[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }"
										readonly [ngClass]="{ 'is-invalid': submitted && f.prefereddate.errors }"
										[minDate]="minDate" [maxDate]="maxDate" [daysDisabled]="disabledDates"/>
									<span class="help-block error-text"></span>
								</div>
								<div *ngIf="submitted && f.prefereddate.errors"
									class="invalid-feedback text-danger">
									<div *ngIf="f.prefereddate.errors.required">Preferred Date is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>
					
							<!-- <div class="form-group field-booking-state required">
								<select id="city" class="form-control" formControlName="city" name="city"
									[ngClass]="{'is-invalid': submitted }" [(ngModel)]="_booking.city_id" disabled>
									<option value="" disabled selected>Select City</option>
									<option *ngFor="let city of _city" [value]="city.id">{{city.cityname}}</option>
								</select>
								<div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.city.errors.required">City is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div> -->

							<div class="form-group f required">
								<label>Cities</label>
								<select id="city" class="form-control" formControlName="city"   [(ngModel)]="model.city" (change)="OnCityChange($event.target.value)"
									[ngClass]="{ 'is-invalid': submitted && f.city.errors }">
									<option [value]="0">Select City</option>
									<option *ngFor="let city of _city" [value]="city.id">{{city.cityname}}</option>
									
								</select>
								<div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.city.errors.required">City is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>
							
							<div class="form-group  required">
								<label>Theatres </label>
								<select id="theatre" class="form-control" formControlName="theatre"  [(ngModel)]="model.theatre"
									[ngClass]="{ 'is-invalid': submitted && f.theatre.errors }">
									<option value="" disabled selected>Select</option>
									<option *ngFor="let venue of _venue" [value]="venue.id">{{venue.theatre_name}}</option>
								</select>
								<div *ngIf="submitted && f.theatre.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.theatre.errors.required">Theatre is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>

							<div class="form-group  required">
									<label>Movie</label>
									<input  type="text"  class="form-control" formControlName="movie"  [(ngModel)]="model.movie" placeholder="Movie">
									<div *ngIf="submitted && f.movie.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.movie.errors.required">Movie is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							
							<div class="form-group  required">
								<label>Timing  </label>
								<select id="timing" class="form-control" formControlName="timing" [(ngModel)]="model.timing"
									[ngClass]="{ 'is-invalid': submitted && f.timing.errors }">
									<option value="" disabled selected>Select Time</option>
											<option  >9-10 AM</option>
											<option >10-11 AM</option>
											<option >11-12 PM</option>
											<option >12-1 PM</option>
											<option >1-2 PM</option>
											<option >2-3 PM</option>
											<option >3-4 PM</option>
											<option >4-5 PM</option>
											<option >5-6 PM</option>
											<option >6-7 PM</option>
											<option >7-8 PM</option>
											<option >8-9 PM</option>
											<option >9-10 PM</option>
											<option >10-11 PM</option>
								</select>
								<div *ngIf="submitted && f.timing.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.timing.errors.required">Timing is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>
							
							<div class="form-group  required">
								<label> No of Seats</label>
								<select id="seat" class="form-control" formControlName="seat"  [(ngModel)]="model.seat"
									[ngClass]="{ 'is-invalid': submitted && f.seat.errors }">
									<option [value]="" disabled selected>Select</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								
								</select>
								<div *ngIf="submitted && f.seat.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.seat.errors.required">Seat is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>
							
							<div class="form-group required ">
								<label>Per ticket cost</label>
								<input type="number" class="form-control" formControlName="cost"   [(ngModel)]="model.cost"
									[ngClass]="{ 'is-invalid': submitted && f.cost.errors }">
								
								
								<div *ngIf="submitted && f.cost.errors" class="invalid-feedback text-danger">
									<div *ngIf="f.cost.errors.required">Amount is required</div>
								</div>
								<p class="help-block help-block-error"></p>
							</div>
							
						

							<button type="submit" (click)="onBookingSubmit()" class="ext action-button site-btn" name="contact-button">Proceed</button>

						</div>

				
						
					</div>
					<!-- <div class="container">
					<div class="row">
						<div class="row">
							<div class="col-lg-3">
								<h4>Preferred Slot</h4>
								<div class="form-group field-booking-preferedvenue required">
									<label>Preferred Venue</label>
									<select id="preferedvenue" class="form-control" formControlName="preferedvenue"
										name="preferedvenue"
										[ngClass]="{ 'is-invalid': submitted && f.preferedvenue.errors }">
										<option value="" disabled selected>Select Venue</option>
										<option *ngFor="let city of _venue" [value]="city.id">{{city.venue_name}}
										</option>
									</select>
									<div *ngIf="submitted && f.preferedvenue.errors"
										class="invalid-feedback text-danger">
										<div *ngIf="f.preferedvenue.errors.required">Venue is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							</div>
							<div class="col-lg-3">
								<h4>Backup Slot</h4>
								<div class="form-group field-booking-preferedvenue required">
									<label>Preferred Venue</label>
									<select id="backupvenue" class="form-control" formControlName="backupvenue"
										name="backupvenue"
										[ngClass]="{ 'is-invalid': submitted && f.backupvenue.errors }">
										<option value="" disabled selected>Select Venue</option>
										<option *ngFor="let city of _venue" [value]="city.id">{{city.venue_name}}
										</option>
									</select>
									<div *ngIf="submitted && f.backupvenue.errors"
										class="invalid-feedback text-danger">
										<div *ngIf="f.backupvenue.errors.required">Venue is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
								<div *ngIf="venueError" class="invalid-feedback text-danger">
									<div>{{venueError}}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="form-group field-booking-prefdate1 required">
									<div class=" input-group date">
										<label>Preferred Date</label>
										<input type="text" id="prefereddate" name="prefereddate"
											placeholder="Preferred Date" formControlName="prefereddate"
											class="form-control" readonly #prefdate1="bsDatepicker" bsDatepicker
											[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }"
											readonly [ngClass]="{ 'is-invalid': submitted && f.prefereddate.errors }"
											[minDate]="minDate" [maxDate]="maxDate" [daysDisabled]="disabledDates"/>
										<span class="help-block error-text"></span>
									</div>
									<div *ngIf="submitted && f.prefereddate.errors"
										class="invalid-feedback text-danger">
										<div *ngIf="f.prefereddate.errors.required">Preferred Date is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="form-group field-booking-prefdate1 required">
									<div class=" input-group date">
										<label>Backup Date</label>
										<input type="text" id="backupdate" name="backupdate" placeholder="Backup Date"
											formControlName="backupdate" class="form-control" readonly
											#prefdate1="bsDatepicker" bsDatepicker 
											[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }"
											readonly [ngClass]="{ 'is-invalid': submitted && f.backupdate.errors }" 
											[minDate]="minDate" [maxDate]="maxDate" [daysDisabled]="disabledDates"/>
										<span class="help-block error-text"></span>
									</div>
									<div *ngIf="submitted && f.backupdate.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.backupdate.errors.required">Preferred Date is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							</div>
						</div>
						<div *ngIf="bookingDate" class="invalid-feedback text-danger">
							<div>{{bookingDate}}</div>
						</div>
						&nbsp;
						&nbsp;
						<div class="row">
							<div class="col-lg-3">
								<h4>Other Details:</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="form-group field-booking-preferedvenue required">
									<label>No of Adult</label>
									<select id="adults" class="form-control" formControlName="adults" name="adults"
										[ngClass]="{ 'is-invalid': submitted && f.adults.errors }">
										<option value="" disabled selected>Select</option>
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
									<div *ngIf="submitted && f.adults.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.adults.errors.required">No of Adult is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							</div>

							<div class="col-lg-3">
								<div class="form-group field-booking-preferedvenue required">
									<label>No of Children</label>
									<select id="childrens" class="form-control" formControlName="childrens"
										name="childrens" (change)="onChangeChildren($event.target.value)"
										[ngClass]="{ 'is-invalid': submitted && f.childrens.errors }">
										<option value="" disabled selected>Select</option>
										<option [value]=1>1</option>
										<option [value]=2>2</option>
									</select>
									<div *ngIf="submitted && f.childrens.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.childrens.errors.required">No of Children is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div>
							</div>
						</div>
						<div formArrayName="itemRows">
							<div class="row" *ngFor="let item of numbers; let i = index;" [formGroupName]="i">
								<div class="col-lg-2">
									<div class="form-group field-booking-preferedvenue required">
										<label>Children {{i+1}} Age</label>
										<select class="form-control" formControlName="childrenAge" name="childrenAge">
											<option value="" disabled selected>Select</option>
											<option [value]=0>0</option>
											<option [value]=1>1</option>
											<option [value]=2>2</option>
											<option [value]=3>3</option>
											<option [value]=4>4</option>
											<option [value]=5>5</option>
										</select>
										<p class="help-block help-block-error"></p>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="form-group field-booking-preferedvenue required">
										<label>Children {{i+1}} ID Proof </label>
										<select class="form-control" formControlName="childrenProof"
											name="childrenProof">
											<option value="" disabled selected>Select</option>
											<option [value]="1">Aadhar Card</option>
											<option [value]="2">School ID</option>
											<option [value]="3">Passport</option>
											<option [value]="4">Birth Certificate</option>
										</select>
										<p class="help-block help-block-error"></p>
									</div>
								</div>
								<div class="col-lg-2">
									<div class="form-group field-booking-preferedvenue required">
										<label>Children {{i+1}} ID No </label>
										<input type="text" class="form-control" formControlName="childrenIDNumber"
											placeholder="Children ID No" />
									</div>
								</div>
							</div>
						</div>
					</div>
					</div> -->
					
					<!-- <div class="form-group">
						<div *ngIf="submitted" class="invalid-feedback text-danger">
							<div *ngIf="childrenError == true">Children Age is required</div>
						</div>
						<div *ngIf="submitted" class="invalid-feedback text-danger">
							<div *ngIf="childrenError == true">Children ID Proof is required</div>
						</div>
						<div *ngIf="submitted && f.childrenAge.errors" class="invalid-feedback text-danger">
							<div *ngIf="childrenError == true">Children ID Number is required</div>
						</div>
						<button type="submit" class="ext action-button site-btn" name="contact-button">Submit</button>
					</div> -->
				</form>
			</fieldset>
		</div>


	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">
				<a href="#"> <img src="./assets/images/footer-logo.png" alt="logo"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5">
				<h4>Contact us:</h4>
				<ul class="list-unstyled">
					<li>
						<p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
					</li>
					<li>
						<p>Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on public holidays and bank
							holidays)</p>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<li><a href="#">Terms & Conditions </a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<!-- <ul class="list-unstyled">
					<li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li>
				</ul> -->
			</div>
		</div>
	</div>
</div>