<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
<div id="main" class="item">
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
	<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
	<!-- <img src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
</div>

<!-- <pre>{{_campaigns | json}}</pre> -->






<div class="container" id="cont">
	<div class="content-area">
		<div class="multi-step-form">

			<form [formGroup]="registerForm" id="msform">

				<fieldset>
				<div class="summary">
          <div class="check-out">
            <p style="font-size: 10px">Total No of tickets:10</p>

          </div>
        </div>
					<button type="submit" class="ext action-button site-btn" name="contact-button"
						(click)="onSubmit()">Submit</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">

				<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
						alt="logo"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5">

				<p style="font-size:17px">Contact us:</p>
				<ul class="list-unstyled">
					<li>
						<p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
					</li>
					<li>
						<p style="font-size:14px">Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on
							public holidays and bank
							holidays)</p><br>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<li><a href="#" data-toggle="modal" data-target="#myModal">HOW TO REEDEM</a></li>
					<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
					<!-- <li><a href="#">Privacy Policy</a></li> -->
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
























































































































