<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Register Report</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <form [formGroup]="_form">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" bsDaterangepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" formControlName="filterDate" [maxDate]="_maxDate" readonly />
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="registerReport( _form.value.filterDate)" [disabled]="!_form.valid || _submitted === true">Submit</button>
                            <div *ngIf="_submitted === true" class="spinner"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Register List</h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-block btn-primary" (click)="downloadReport()" [disabled]="_downloadSubmitted == true"><i class="fa fa-download"></i> Download</button>
                        <div *ngIf="_downloadSubmitted" class="spinner"></div>
                    </div>
                </div>
                <div class="box-body" style="max-height: 500px; overflow: hidden; overflow-y: visible;">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="font-weight: bold;text-align: center">Register ID</th>
                            <th style="font-weight: bold;text-align: center">Voucher#</th>
                            <th style="font-weight: bold;text-align: center">Customer Name</th>
                            <th style="font-weight: bold;text-align: center">Mobile</th>
                            <th style="font-weight: bold;text-align: center">Email</th>
                            <!-- <th style="font-weight: bold;text-align: center">City</th> -->
                            <th style="font-weight: bold;text-align: center">Register Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let report of _reportData">
                            <td align="center">{{report.reg_id}}</td>
                            <td align="left">{{report.voucher_code}}</td>
                            <td align="left">{{report.customername}}</td>
                            <td align="left">{{report.mobile}}</td>
                            <td align="left">{{report.email}}</td>
                            <!-- <td align="left" >&nbsp;{{report.cityname}}</td> -->
                            <td align="left">{{report.created_date | date: "dd-MM-yyyy h:mm a"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</section>