<div class="wrapper">
    <!-- Header starts -->
    <header class="main-header">
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>BC</b>P</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>BigCity</b>Promotions</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" role="button" appSidebarToggler>
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User account dropdown starts -->
                    <li class="dropdown user user-menu" dropdown (onToggle)="toggled($event)">
                        <a href class="dropdown-toggle" dropdownToggle (click)="false">
                            <img src="assets/images/avatar5.png" class="user-image" alt="Admin">
                            <span class="hidden-xs">Welcome, {{userData.roleLabel}}</span>
                        </a>
                        <ul class="dropdown-menu" *dropdownMenu aria-labelledby="simple-dropdown">
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                            <li *ngIf="role == 50"><a [routerLink]="['/client/profile']"><i class="fa fa-user fa-fw"></i> Profile</a></li>
                            <li class="divider"></li>
                            <li><a [routerLink]="['/logout']"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- User account dropdown ends -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- Header ends -->

    <!-- Sidebar starts -->
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Admin navigation starts -->
            <ul class="sidebar-menu" data-widget="tree" *ngIf="role == 1 || role == 99">
                <li class="header"><h4>Colgate</h4></li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/user']"><i class="fa fa-users"></i> <span>Users</span></a>
                </li> -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/campaign']"><i class="fa fa-cog"></i> <span>Campaigns</span></a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/rewardmessage']"><i class="fa fa-gift"></i>
                        <span>Reward Template Config</span></a>
                </li> -->
                <li routerLinkActive="active">
                    <a [routerLink]="['/vouchercode']"><i class="fa fa-gift"></i>
                        <span>Vouchercode</span></a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/movies']"><i class="fa fa-film"></i>
                        <span>Movies</span></a>
                </li>
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/offercodesummary']"><i class="fa fa-gift"></i>
                        <span>Offercode Summary</span></a>
                </li> -->
                <!-- <li routerLinkActive="active">
                    <a [routerLink]="['/offercode']"><i class="fa fa-gift"></i>
                        <span>Offercode</span></a>
                </li> -->
                <li  class="treeview" routerLinkActive="active">
                    <a>
                        <i class="fa fa-table"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: block">
                        <li><a [routerLink]="['/report/register']"><i class="fa fa-circle-o"></i> Register Report</a></li>
                        <li><a [routerLink]="['/report/booking']"><i class="fa fa-circle-o"></i> Booking Report</a></li>
                    </ul>
                </li>               
                <!--<li  class="treeview" routerLinkActive="active">
                    <a>
                        <i class="fa fa-table"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: block">
                        <li><a [routerLink]="['/report/winnerlist']"><i class="fa fa-circle-o"></i> Winner List</a></li>
                        <li><a [routerLink]="['/report/timeslot']"><i class="fa fa-circle-o"></i> Timeslots</a></li>
                        <li><a [routerLink]="['/report/backup']"><i class="fa fa-circle-o"></i> Backup Timeslots</a></li>
                        <li><a [routerLink]="['/report/giftbreakup']"><i class="fa fa-circle-o"></i> Daily Gift Breakup</a></li>
                        <li><a [routerLink]="['/auditor/incomingmsg']"><i class="fa fa-circle-o"></i> Incoming SMS</a></li>
                        <li><a [routerLink]="['/auditor/outgoingmsg']"><i class="fa fa-circle-o"></i> Outgoing SMS</a></li>
                        <li><a [routerLink]="['/report/skillranking']"><i class="fa fa-circle-o"></i> Skill Ranking Report</a></li>
                    </ul>
                </li>-->
            </ul>
            <!-- Admin navigation ends -->

            <!-- TL navigation starts -->
            <ul class="sidebar-menu" data-widget="tree" *ngIf="role == 50">
                <li class="header"><h4>Bblunt</h4></li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/teamleader/dashboard']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/teamleader/reassign']"><i class="fa fa-undo"></i> <span>Re Assign</span></a>
                </li>
            </ul>
            <!-- TL navigation ends -->

            <!-- Agent navigation starts -->
            <ul class="sidebar-menu" data-widget="tree" *ngIf="role == 10">
                <li class="header"><h4>Bblunt</h4></li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/agent/tasklist']"><i class="fa fa-list"></i> <span>Task List</span></a>
                </li>
            </ul>
            <!-- Agent navigation ends -->
                        
            
            <!-- Staff navigation starts -->
            <!--<ul class="sidebar-menu" data-widget="tree" *ngIf="role == 40 || role == 60 || role == 70">
                <li class="header"><h4>SMS Contest</h4></li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li  class="treeview" routerLinkActive="active">
                    <a>
                        <i class="fa fa-table"></i>
                        <span>Reports</span>
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" style="display: block">
                        <li><a [routerLink]="['/staff/winnerlist']"><i class="fa fa-circle-o"></i> Winner List</a></li>
                        <li *ngIf="role == 40 || role == 60"><a [routerLink]="['/staff/timeslot']"><i class="fa fa-circle-o"></i> Timeslots</a></li>
                        <li *ngIf="role == 40 || role == 60"><a [routerLink]="['/staff/backup']"><i class="fa fa-circle-o"></i> Backup Timeslots</a></li>
                        <li *ngIf="role == 40 || role == 60"><a [routerLink]="['/staff/incomingmsg']"><i class="fa fa-circle-o"></i> Incoming SMS</a></li>
                        <li *ngIf="role == 40 || role == 60"><a [routerLink]="['/staff/outgoingmsg']"><i class="fa fa-circle-o"></i> Outgoing SMS</a></li>
                    </ul>
                </li>
            </ul>-->
            <!-- Staff navigation ends -->
        </section>
    </aside>
    <!-- Sidebar ends -->

    <!-- Content section starts -->
    <div class="content-wrapper">
        <section class="content-header">
            <!--<h1>{{pageTitle}}</h1>-->
            <ol class="breadcrumb">
                <app-breadcrumbs></app-breadcrumbs>
            </ol>
        </section>

        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </div>
    <!-- Content section ends -->

    <!-- Footer starts -->
    <footer class="main-footer">
        <strong>&copy; Big City Promotions</strong> - All Rights Reserved.
    </footer>
    <!-- Footer ends -->
</div>