<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div>
	<img src="./assets/images/banner.jpg" alt="menu">
  </div>
  <div class="container">
	<div class="content-area">
	  <div class="multi-step-form">		
		  <!-- fieldsets -->
		  <fieldset>	
        <h1>Thanks</h1>
        <div class="row">
          <div class="col-lg-12">
            <p>{{success_msg}}</p>
          </div>
        </div>
		  </fieldset>
	  </div>
	</div>
  </div>

  <div class="footer">
	<div class="container">
	  <div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3">
			<a href="#"> <img src="./assets/images/footer-logo.png" alt="logo"></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-5">
		  <h4>Contact us:</h4>
		  <ul class="list-unstyled">
			<li>
			  <p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
			</li>
			<li><p>Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on public holidays and bank holidays)</p></li>
		  </ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2">
		  <ul class="list-unstyled">
			<li><a href="#">Terms & Conditions </a></li>
			<li><a href="#">Privacy Policy</a></li>
		  </ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-2">
		  <ul class="list-unstyled">
			<li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>


  <router-outlet></router-outlet>