<div class="animated fadeIn" *ngIf="!_mode && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_mode">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" *ngIf="_mode == 'create'">Add New Reward Template Config</h3>
                    <h3 class="box-title" *ngIf="_mode == 'update'">Update Reward Template Config</h3>
                </div>
                <div class="alert alert-danger text-center" *ngIf="_errorMessage">{{_errorMessage}}</div>
                        <div class="box-body">
                            <form class="form-horizontal" [formGroup]="_form" (ngSubmit)="onSubmit()">
                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('campaign_id')}">
                                    <label for="campaign_id" class="col-sm-2 control-label">Campaigns</label>
                                    <div class="col-sm-4">
                                        <select id="campaign_id" class="form-control" [formControl]="_form.controls['campaign_id']" [(ngModel)]="_rewardmessage.campaign_id">
                                            <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign
                                                .title}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('reward_id')}">
                                    <label for="reward_id" class="col-sm-2 control-label">Rewards</label>
                                    <div class="col-sm-4">
                                        <select id="reward_id" class="form-control" [formControl]="_form.controls['reward_id']" [(ngModel)]="_rewardmessage.reward_id">
                                            <option *ngFor="let reward of _rewards" [value]="reward.id">{{reward.prod_name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('messages_template')}">
                                    <label for="messages_template" class="col-sm-2 control-label">Message Template</label>
                                    <div class="col-sm-8">
                                        <textarea id="messages_template" class="form-control" rows="6" [formControl]="_form.controls['messages_template']" [(ngModel)]="_rewardmessage.messages_template"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.messages_template.valid">{{_formErrors.messages_template.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('email_template')}">
                                    <label class="col-sm-2 control-label">Email Template</label>
                                    <div class="col-sm-8">
                                        <textarea id="email_template" class="form-control" rows="6" [formControl]="_form.controls['email_template']" [(ngModel)]="_rewardmessage.email_template"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.email_template.valid">{{_formErrors.email_template.message}}</span>
                                    </div>
                                </div>


                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('status')}">
                                    <label for="status" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-4">
                                        <select id="status" class="form-control" [formControl]="_form.controls['status']" [(ngModel)]="_rewardmessage.status">
                                            <option *ngFor="let statusType of _statusTypes" [value]="statusType.value" [selected]="">{{statusType.label}}</option>
                                        </select>
                                        <span class="help-block error-text" *ngIf="!_formErrors.status.valid">{{_formErrors.status.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 20px;">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary pull-right" [disabled]="!_form.valid">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
            </div>
        </div>
    </div>
</section>
