<div class="animated fadeIn" *ngIf="!_rewardmessages && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_rewardmessages">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Reward Template List</h3>
                    <div class="pull-right">
                        <a class="btn btn-block btn-primary" [routerLink]="['/rewardmessage', 'create']" routerLinkActive="active"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Reward</th>
                            <th>Message Template</th>
                            <th>Mail Template</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let rewardmessage of _rewardmessages; let i=index">
                            <td>{{i+1}}</td>
                            <td> <a (click)="viewRewardMessage(rewardmessage)">{{rewardmessage.product}}</a></td>
                            <td>{{rewardmessage.messages_template}}</td>
                            <td>{{rewardmessage.email_template}}</td>
                            <td>
                                <span *ngIf="rewardmessage.status === 1">Active</span>
                                <span *ngIf="rewardmessage.status === 0">Inactive</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>