<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
<div id="main" class="item">
	<img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
	<!-- <img src="{{_campaigns.sitebanner}}" alt="menu" width="100%"> -->
	<!-- <img src="https://dummyimage.com/1536x526/f2f2f2/fff.jpg&text=Metro+Cash+and+Carry" alt="menu" width="100%"> -->
</div>

<!-- <pre>{{_campaigns | json}}</pre> -->




<div class="container" id="cont">
	<div class="content-area">
		<div class="multi-step-form">
			<div class="row redeem-div">
				<div class="col-md-12 text-right">
					<a href="#" style="font-size: 15px;" routerLink="/redeem" target="_blank"><u>How to Redeem</u></a>
				</div>
			</div>
			<tabset  #tabset>
				<tab customClass="customClass" heading="REGISTRATION">
	
					<div class="multi-step-form">
	
						<form [formGroup]="registerForm" id="msform">

							<fieldset>
									<p id="close" class="alert alert-danger text-center" *ngIf="errorMsg == true">
											This voucher no. has been registered already. 
											To receive the reward code for this voucher again, <a href="#" (click)="onSelect()">Click here</a>
									</p>
									<p class="alert alert-danger text-center" *ngIf="_errorMessage1 && errorMsg ==false">
										{{_errorMessage1}}
									</p>
									<p class="alert alert-success text-center" *ngIf="_successMessage">
										{{_successMessage}}
									</p>
									<div class="form-group required">
											<p style="font-size:20px;">Register Here</p>
											<input type="text" class="form-control" formControlName="customer_name" placeholder="Name"
												[ngClass]="{ 'is-invalid': submitted && f.customer_name.errors }" [(ngModel)]="model.customer_name">
											<div *ngIf="submitted && f.customer_name.errors" class="invalid-feedback text-danger">
												<p class="small" *ngIf="f.customer_name.errors.required">Name is required</p>
												
											</div>
										</div>
								<div class="form-group required">
									
									<input type="text" class="form-control" formControlName="voucher_code"
										placeholder="Your Voucher code" [(ngModel)]="model.voucher_code"
										[ngClass]="{ 'is-invalid': submitted && f.voucher_code.errors }"
										(input)="onSearchChange($event.target.value)">
									<p *ngIf="_voucherErrorMsg" class="alertMsg">{{_voucherErrorMsg}}</p>
									<div *ngIf="submitted && f.voucher_code.errors" class=" text-danger">
										<p class="small" *ngIf="f.voucher_code.errors.required">Voucher code is required</p>
									</div>
								</div>
								<div class="form-group required">
									<input type="text" class="form-control" formControlName="mobile" placeholder="Mobile"
										[ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" [(ngModel)]="model.mobile">
									<div *ngIf="submitted && f.mobile.errors" class="invalid-feedback text-danger">
										<p class="small" *ngIf="f.mobile.errors.required">Mobile Number is required</p>
										<p class="small" *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">
											Oops…looks like you've entered an invalid mobile number. Please re-enter your correct
											10-digit mobile no.</p>
									</div>
								</div>
								<div class="form-group required">
									<input type="text" class="form-control" formControlName="email"
										placeholder="Valid Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
										[(ngModel)]="model.email">
									<div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
										<p class="small" *ngIf="f.email.errors.required">Email is required</p>
										<p class="small" *ngIf="f.email.errors.pattern">Oops…looks like you've entered an invalid
											email ID. Please re-enter your correct email ID.
										</p>
									</div>
								</div>
								<!-- <div class="form-group required">
										<select id="city" class="form-control" formControlName="city" name="city"
										[ngClass]="{'is-invalid': submitted }" [(ngModel)]="model.city_id">
										<option [value]="0" disabled selected>Select City</option>
										<option *ngFor="let city of _city" [value]="city.id">{{city.cityname}}</option>
									</select>
									<div *ngIf="submitted && f.city.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.city.errors.required">City is required</div>
									</div>
									<p class="help-block help-block-error"></p>
								</div> -->
								<!-- <div class="form-group required">
									<button class="btn btn-primary" onclick="document.getElementById('getFile').click()"
										*ngIf="!imageChangedEvent">UPLOAD BILL</button>
									<input type="file" (change)="fileChangeEvent($event)" id="getFile" style="display: none"
										accept="image/*" display capture="environment" *ngIf="!imageChangedEvent" />
									<p *ngIf="uploadMsg" class="alertMsg">{{uploadMsg}}</p>
								</div> -->
			
			<!-- 
								<div class="container" *ngIf="imageChangedEvent">
			
									<image-cropper class="img-wrapper" [imageChangedEvent]="imageChangedEvent"
										[maintainAspectRatio]="false" [resizeToWidth]="300" format="png"
										(imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
										(cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
									</image-cropper>
			
									<button class="ext action-button site-btn" (click)="preview()">
										PREVIEW
									</button>
								</div> -->
								<!-- <div class="container-fluid" *ngIf="!imageChangedEvent && croppedImage">
									<img [src]="croppedImage" />
									<div>
										<button style="font-size: 11px;" class="ext action-button site-btn"
											onclick="document.getElementById('getFile').click()">
											BACK TO CAMERA
										</button>
										&nbsp;
			
									</div>
								</div> -->
			
								<div class="checkbox">
									<label>
										<input type="checkbox" id="agreeterms" name="agreeTerms" value="1"
											formControlName="agreeTerms"
											[ngClass]="{ 'is-invalid': submitted && f.agreeTerms.errors }"> I agree to the
										<a style="color:turquoise" routerLink="/terms" target="_blank">Terms &
											Conditions</a>
									</label>
									<div *ngIf="submitted && f.agreeTerms.errors" class="invalid-feedback text-danger">
										<div *ngIf="f.agreeTerms.errors.required"> Please confirm the Terms and Conditions
										</div>
									</div>
								</div>
								<div class="captch-box">
									<recaptcha [formControl]="myRecaptcha" (scriptError)="onScriptError()">
									</recaptcha>
								</div>
								<div *ngIf="errorMsg">
									<p class="alertMsg">{{errorMsg}}</p>
								</div>
								<button type="submit" class="ext action-button site-btn" name="contact-button"
									(click)="onSubmit()">Submit</button>
							</fieldset>
						</form>
					</div>
				</tab>
	
				<tab customClass="customClass" heading="BOOKING" >
					<div class="multi-step-form">
						<form [formGroup]="otpForm" id="msform" *ngIf="otpVerified == 0">
							<fieldset>
									<p class="alert alert-danger text-center" *ngIf="_errorMessage2">
											{{_errorMessage2}}
										</p>
									<p style="font-size: 20px">Enter the OTP received on your registered mobile no./email. Do not refresh or close this page until you have submitted the OTP.</p>
									<!-- <p class="alert alert-danger text-center " *ngIf="_errorMessage2">{{_errorMessage2}}</p>
									<p class="alert alert-danger text-center " *ngIf="_errorMessage3">{{_errorMessage3}}</p> -->
									<br>
									<div class="form-group required">
										<input type="text" class="form-control" formControlName="otp" placeholder="OTP" 
											[ngClass]="{ 'is-invalid': submitted1 && f1.otp.errors }" [(ngModel)]="model1.otp" (input)="onSearchChange($event.target.value)">
										<div *ngIf="submitted1 && f1.otp.errors" class="text-danger">
										
											<p  class="small" *ngIf="f1.otp.errors.required">*enter the OTP received</p>
											<p  class="small" *ngIf="f1.otp.errors.minlength">enter the valid 4 digit OTP</p>
										</div>
										<div class="text-resend" *ngIf="resend">
											<p  class="small" style="color:green;font-size:14px"> OTP has been resent successfully</p>
										</div>  
									</div>          							
									<button type="submit" class="ext action-button site-btn" name="contact-button" (click)="onOTPSubmit()">Submit</button>&nbsp;
									<!-- <button  class="ext action-button site-btn" name="contact-button" (click)="resendOTP()">Resend</button> -->
							</fieldset>
						</form>

						<form [formGroup]="bookingForm" id="bsform" *ngIf="otpVerified == 1">
							<fieldset>
								<p class="alert alert-danger text-center" *ngIf="_errorMessage2">
									{{_errorMessage2}}
								</p>
								<div class="row">
									<div class="col-lg-6">	
										<div class="form-group f required" >
											<div class="input-group date">
												<label>Preferred Date </label>
												<input type="text" id="prefereddate" name="prefereddate"
													placeholder="Preferred Date" formControlName="prefereddate" [(ngModel)]="model2.prefereddate"
													class="form-control" readonly #prefdate1="bsDatepicker" bsDatepicker
													[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange', showWeekNumbers: false, selectFromOtherMonth: true }"
													readonly [ngClass]="{ 'is-invalid': submitted2 && f2.prefereddate.errors }"
													[minDate]="minDate" [maxDate]="maxDate" [daysDisabled]="disabledDates" />
												<span class="help-block error-text"></span>
											</div>
											<div *ngIf="submitted2 && f2.prefereddate.errors"
												class="invalid-feedback text-danger">
												<div *ngIf="f2.prefereddate.errors.required">Preferred Date is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>
			
										<div class="form-group f required">
											<label>Cities </label>
											<select id="city" class="form-control" formControlName="city"   [(ngModel)]="model2.city" (change)="OnCityChange($event.target.value)"
												[ngClass]="{ 'is-invalid': submitted2 && f2.city.errors }">
												<option [value]="0">Select City</option>
												<option *ngFor="let city of _city" [value]="city.id">{{city.cityname}}</option>
												
											</select>
											<div *ngIf="submitted2 && f2.city.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.city.errors.required">City is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>
										
										<div class="form-group required">
											<label>Theatres </label>
											<select id="theatre" class="form-control" formControlName="theatre"  [(ngModel)]="model2.theatre"
												[ngClass]="{ 'is-invalid': submitted2 && f2.theatre.errors }">
												<option value="" disabled selected>Select</option>
												<option *ngFor="let venue of _venue" [value]="venue.id">{{venue.theatre_name}}</option>
											</select>
											<div *ngIf="submitted2 && f2.theatre.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.theatre.errors.required">Theatre is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>
										
										<div class="form-group required">
											<label>Movie </label>
											<select id="movie" class="form-control" formControlName="movie"  [(ngModel)]="model2.movie"
												[ngClass]="{ 'is-invalid': submitted2 && f2.movie.errors }">
												<option value="" disabled selected>Select</option>
												<option *ngFor="let movie of _movie" [value]="movie.id">{{movie.name}}</option>
											</select>
											<div *ngIf="submitted2 && f2.movie.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.movie.errors.required">Movie is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>

										<!-- <div class="form-group  required">
											<label>Movie</label>
											<input  type="text"  class="form-control" formControlName="movie"  [(ngModel)]="model2.movie" placeholder="Movie">
											<div *ngIf="submitted2 && f2.movie.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.movie.errors.required">Movie is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div> -->
										
										<div class="form-group required">
											<label>Timing </label>
											<timepicker [(ngModel)]="model2.timing" [formControlName]="'timing'"></timepicker>
											<!-- <timepicker [formControlName]="'timing'"></timepicker>
											<pre class="alert alert-info">Time is: {{mytime }}</pre> -->
											<!-- <pre class="alert alert-info">Time is: {{ bookingForm.get('timing').value | date: 'hh:mm a'}}</pre> -->
											<!-- <input type="hidden" [(ngModel)="model2.timing" value=""/> -->
											<!-- <ng-template #popTemplate>
												<timepicker [(ngModel)]="model2.timing" [showMeridian]="false"></timepicker>
											</ng-template>
											<input type="text" class="form-control" formControlName="timing" [(ngModel)]="model2.timing" 
											placeholder="Timing" [ngClass]="{ 'is-invalid': submitted2 && f2.timing.errors }" [popover]="popTemplate" [outsideClick]="true" placement="bottom" />
											<pre class="alert alert-info">Time is: {{model2.timing}}</pre> -->
											<div *ngIf="submitted2 && f2.timing.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.timing.errors.required">Timing is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>
										
										<div class="form-group required">
											<label>No of Seats </label>
											<select id="seat" class="form-control" formControlName="seat"  [(ngModel)]="model2.seat"
												[ngClass]="{ 'is-invalid': submitted2 && f2.seat.errors }">
												<option [value]="" disabled selected>Select</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
											
											</select>
											<div *ngIf="submitted2 && f2.seat.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.seat.errors.required">Seat is required</div>
											</div>
											<p class="help-block help-block-error"></p>
										</div>
										
										<div class="form-group required ">
											<label>Cost per ticket (inclusive of Internet handling fees & Taxes) </label>
											<input type="text" class="form-control" formControlName="cost"   [(ngModel)]="model2.cost"
												[ngClass]="{ 'is-invalid': submitted2 && f2.cost.errors }" class="ticket-cost">
											
											
											<div *ngIf="submitted2 && f2.cost.errors" class="invalid-feedback text-danger">
												<div *ngIf="f2.cost.errors.required">Amount is required</div>
												<div *ngIf="f2.cost.errors.pattern">Oops…looks like you've entered an invalid
													Amount. Please enter again.
												</div>
											</div>
										</div>
										<div style="font-size: small; font-weight: 540;">
											For detailed show time / cost per ticket / theater availability <a target="_new" href="https://in.bookmyshow.com/">click here</a>                
										</div>

										<button type="submit" (click)="onBookingSubmit()" class="ext action-button site-btn" name="contact-button">Proceed</button>
			
									</div>
									<div class="col-lg-6 booking-instruction">
										<h2>Steps for Booking</h2>
										<ol>
											<li>Fill up the required details and click Submit and make the payment and place the booking</li> <br>			 
											<li>Our concierge representative will call you within 24 hrs prior to the preferred booking date and time.</li>
										</ol> 			 
										<p class="booking-paragraph">
											<b>
												For detailed show time / cost per ticket / theatre availability 
												<a target="_new" href="https://in.bookmyshow.com/">click here</a> . 
												Kindly include the internet handling fees and taxes while calculating the cost per ticket. 
											</b>
										</p>
									</div>
								</div>
							</fieldset>
						</form>

						<form id="msform" ngNoForm action="https://secure.payu.in/_payment" name="payuform" method="POST" *ngIf="otpVerified == 2">
							<fieldset>
								<div class="summary">
									  <div class="check-out">
										<p class="values" style="text-align:left;">
											Total no of seats <span style="padding-left: 6px; padding-right: 6px;">:</span> 
											<span class="no">{{model3.total_seats}} </span>
										</p>
										<p class="values" style="text-align:left;">
											Grand Total <span style="padding-left: 54px; padding-right: 6px;">:</span> 
											<span class="no">{{model3.grand_total}} </span> 
										</p>
										<p class="values" style="text-align:left;">
											Promo Offer <span style="padding-left: 46px; padding-right: 6px;">:</span> 
											<span class="no">(-)100 </span>
										</p>
										<hr>
										<p class="values" style="text-align:left;">
											Final Total <span style="padding-left: 68px; padding-right: 6px;">:</span> 
											<span class="no">{{model3.final_total}} </span>
										</p>
										<!-- <p class="values" >Grand Total:</p><span> {{model.grand_total}}</span>
										<p class="values" >Promo Offer:</p><span>100(-)</span>
										<hr>
										<p class="values" >Final Total</p><span>:{{model.final_total}}</span> -->
									</div>
								</div>
					
								<input type="hidden" id="key" name="key" [(ngModel)]="payuform.key">
								<input type="hidden" id="salt" name="salt" [(ngModel)]="payuform.salt">
								<div class="form-group">
									<input type="hidden" class="form-control" id="productinfo" name="productinfo" [(ngModel)]="payuform.productinfo">
								</div>
								<div class="form-group">
									<input type="hidden" class="form-control" id="firstname" name="firstname" [(ngModel)]="payuform.firstname">
								</div>
								<div class="form-group">
									<input type="hidden" class="form-control" id="email" name="email" [(ngModel)]="payuform.email">
								</div>
								<div class="form-group">
									<input type="hidden" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone">
								</div>
								<div class="form-group">
									<input type="hidden" class="form-control" id="amount" name="amount" [(ngModel)]="payuform.amount">
								</div>
								<input type="hidden" id="surl" name="surl" [(ngModel)]="payuform.surl" size="64">
								<input type="hidden" id="furl" name="furl" [(ngModel)]="payuform.furl" size="64">
								<input type="hidden" id="hash" name="hash" [(ngModel)]="payuform.hash">
								<input type="hidden" id="txnid" name="txnid" [(ngModel)]="payuform.txnid">
								
								<input type="hidden" id="service_provider" name="service_provider" [(ngModel)]="payuform.service_provider" size="64">
			
								<!-- Optional Parameters -->
								<input type="hidden" id="lastname" name="lastname" [(ngModel)]="payuform.lastname" value="">
								<input type="hidden" id="address1" name="address1" [(ngModel)]="payuform.address1" value="">
								<input type="hidden" id="address2" name="address2" [(ngModel)]="payuform.address2" value="">
								<input type="hidden" id="city" name="city" [(ngModel)]="payuform.city" value="">
								<input type="hidden" id="state" name="state" [(ngModel)]="payuform.state" value="">
								<input type="hidden" id="country" name="country" [(ngModel)]="payuform.country" value="">
								<input type="hidden" id="zipcode" name="zipcode" [(ngModel)]="payuform.zipcode" value="">
								<input type="hidden" id="udf1" name="udf1" [(ngModel)]="payuform.udf1" value="">
								<input type="hidden" id="udf2" name="udf2" [(ngModel)]="payuform.udf2" value="">
								<input type="hidden" id="udf3" name="udf3" [(ngModel)]="payuform.udf3" value="">
								<input type="hidden" id="udf4" name="udf4" [(ngModel)]="payuform.udf4" value="">
								<input type="hidden" id="udf5" name="udf5" [(ngModel)]="payuform.udf5" value="">
								<input type="hidden" id="pg" name="pg" [(ngModel)]="payuform.pg" value="">
								<input type="hidden" name="curl" id="curl" [(ngModel)]="payuform.curl" value="" />
								<!-- <input type="hidden" name="enforce_paymethod" id="enforce_paymethod" [(ngModel)]="payuform.enforce_paymethod" value=""/> -->
			
								<button type="submit" class="ext action-button site-btn" name="contact-button">Submit</button>
								<button type="button" class="ext action-button site-btn" (click)="goBack()">Back</button>
							</fieldset>
						</form>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3">

				<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
						alt="logo"></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-5">

				<p style="font-size:17px">Contact us:</p>
				<ul class="list-unstyled">
					<li>
						<p>Email: feedback@bigcity.in</p>
					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
					<!-- <li><a href="#">Privacy Policy</a></li> -->
				</ul>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-2">
				<ul class="list-unstyled">
					<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
				</ul>
			</div>
		</div>
	</div>
</div>