<div class="wrap">
  <div id="logo"><img src="./assets/images/banner.jpg" width="100%" alt="" /></div>
</div>
  <div class="wrap">
      <nav id="w0" class="navbar-inverse navbar" style="background-color:#000;font-size:16px;" role="navigation"><div class="container"><div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse"><span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span></button><a class="navbar-brand" href="/"></a></div><div id="w0-collapse" class="collapse navbar-collapse"><ul id="w1" class="navbar-nav navbar-left nav"><li><a routerLink="/registration" routerLinkActive="active">Registration</a></li>
<li><a routerLink="/booking" routerLinkActive="active">Booking</a></li>
<li><a routerLink="/terms" routerLinkActive="active">Terms</a></li>
<li class="active"><a routerLink="/contactus" routerLinkActive="active">Contact Us</a></li>
</ul></div></div></nav>
      <div class="container" style="padding-top: 0px;">
          <ul class="breadcrumb"><li><a href="/">Home</a></li>
<li class="active">Contact</li>
</ul>            

<div class="site-contact">
  <h1>Lee Fits - Contact</h1>
<div class="row">
  <div class="col-lg-12">			
    <p> 		<span>PREMIER SALES PROMOTIONS  PVT. LTD.</span><br/> 		<span>PO Box 25246,</span><br/> 		<!--span>4th Floor, Mitra Towers, 10/4, Kasturba Road, Bangalore - 560001</span><br/--> 		<span>Bangalore - 560025</span> 	</p> 	<p> 		Email: <a href="feedback@bigcity.in" style="color: #000000"><strong>feedback@bigcity.in</strong></a><br> 		Tel: +91 80 4055 4880<br> 		Fax: +91 80 4055 4801. 	</p>			<!--p><a class="btn btn-default" href="http://www.yiiframework.com/doc/">Yii Documentation &raquo;</a></p-->
  </div>		
</div>
</div>

      </div>
  </div>

  <footer class="footer">
      <div class="container" style="font-family: 'Lato', sans-serif; font-size: x-small">
          <p class="pull-left">&copy; BigCity Promotions 2019,  </p>
          <p class="pull-left"> All Rights Reserved</p>
      </div>
  </footer>
