<!-- <div>
  <img src="./assets/images/banner.jpg" alt="menu">
</div>
<div class="container">
  <div class="content-area">
    <div class="multi-step-form">
      <form [formGroup]="rewardForm" id="msform">
        
        <ul id="progressbar" class="list-inline">
          <li><span>STEP 1</span> Registration</li>
          <li class="active"><span>STEP 2</span> Validate OTP</li>
        </ul>
        <fieldset>
          <p class="alert alert-danger text-center " *ngIf="_errorMessage">{{_errorMessage}}</p>
          <div class="form-group required">
            <select id="rewardType" class="form-control" formControlName="rewardType"
						 [ngClass]="{ 'is-invalid': submitted && f.rewardType.errors }">
							<option value="" disabled selected>Select Reward</option>
							<option value="1">Rs 250 Amazon Gv</option>
						</select>
						<div *ngIf="submitted && f.rewardType.errors" class="invalid-feedback text-danger">
							<div *ngIf="f.rewardType.errors.required">Reward is required</div>
						</div>
						<p class="help-block help-block-error"></p>
          </div>
          <button type="submit" class="ext action-button site-btn" name="contact-button"
            (click)="onSubmit()">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="#"> <img src="./assets/images/footer-logo.png" alt="logo"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5">
        <h4>Contact us:</h4>
        <ul class="list-unstyled">
          <li>
            <p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
          </li>
          <li>
            <p>Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on public holidays and bank holidays)</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="list-unstyled">
          <li><a href="#">Terms & Conditions </a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="list-unstyled">
          <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->

<!-- New Code -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img  src="./assets/images/Banner__1.jpg" alt="menu" width="100%">
		</div>

		<div class="item">
	<img  src="./assets/images/Banner__2.jpg" alt="menu" width="100%">
		</div>
	
		<div class="item">
	<img  src="./assets/images/Banner__3.jpg" alt="menu" width="100%">
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


	
	<br>
<div class="container" id="cont">
	<div class="content-area">
		<tabset #tabset >
				<tab customClass="customClass" heading="REGISTRATION">

				<div class="multi-step-form">
            <form [formGroup]="rewardForm" id="msform">
                <fieldset>
                  <p class="alert alert-danger text-center " *ngIf="_errorMessage">{{_errorMessage}}</p>
                  <div class="form-group required">
                    <select id="rewardType" class="form-control" formControlName="rewardType"
                     [ngClass]="{ 'is-invalid': submitted && f.rewardType.errors }">
                      <option value="" disabled selected>Select Reward</option>
                      <option value="1">Rs 250 Amazon Gv</option>
                    </select>
                    <div *ngIf="submitted && f.rewardType.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.rewardType.errors.required">Looks like you've not select your reward. Please select your reward to complete your request.</div>
                    </div>
                    <p class="help-block help-block-error"></p>
                  </div>
                  <button type="submit" class="ext action-button site-btn" name="contact-button"
                    (click)="onSubmit()">Submit</button>
                </fieldset>
              </form>
				</div>
			</tab>

			<tab customClass="customClass" heading="RESEND CODE">
			<div class="multi-step-form">
				<form [formGroup]="registerForm1" (ngSubmit)="onResumbit()" id="msform">
            <p style="font-size:20px">If you've already registered your voucher number and want to receive the reward code again, please fill the form below.</p>  
					<fieldset>
						<p class="alert alert-danger text-center " *ngIf="_errorMessage1">{{_errorMessage1}}</p>
						<div class="form-group required">
							<input type="text" class="form-control" formControlName="voucher_code"
								placeholder="Enter Voucher code" [(ngModel)]="model.voucher_code"
								[ngClass]="{ 'is-invalid': submitted1 && f1.voucher_code.errors }">
							<div *ngIf="submitted1 && f1.voucher_code.errors" class=" text-danger">
								<p class="small" *ngIf="f1.voucher_code.errors.required">Voucher code is required</p>
							</div>
						</div>
						<div class="form-group required">
							<input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile No."
								[ngClass]="{ 'is-invalid': submitted1 && f1.mobile.errors }" [(ngModel)]="model.mobile">
							<div *ngIf="submitted1 && f1.mobile.errors" class="invalid-feedback text-danger">
								<p class="small" *ngIf="f1.mobile.errors.required">Mobile Number is required</p>
								<p class="small" *ngIf="f1.mobile.errors.minlength || f1.mobile.errors.maxlength">
									Mobile
									should contain at
									least 10 characters.</p>
							</div>
						</div>
						<div class="form-group required">
							<input type="text" class="form-control" formControlName="email"
								placeholder="Enter Email Address"
								[ngClass]="{ 'is-invalid': submitted1 && f1.email.errors }" [(ngModel)]="model.email">
							<div *ngIf="submitted1 && f1.email.errors" class="invalid-feedback text-danger">
								<p class="small" *ngIf="f1.email.errors.required">Email is required</p>
								<p class="small" *ngIf="f1.email.errors.pattern">Email is not a valid email address.
								</p>
							</div>
						</div>
						<button type="submit" class="ext action-button site-btn" name="contact-button">Resend Code</button>
					</fieldset>
				</form>
			</div>
			</tab>
			

		</tabset>
	</div>
</div>
<br>
<br>
<br>
<br>
<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					
						<a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png" alt="logo"></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-5">
		
					<p style="font-size:17px">Contact us:</p>
					<ul class="list-unstyled">
						<li>
							<p>Phone: 080 40554858 <br>Email: feedback@bigcity.in</p>
						</li>
						<li>
							<p style="font-size:14px">Timings: Monday-Friday between 10:30 AM to 5:30 PM <br>(Closed on public holidays and bank
								holidays)</p><br>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
				<li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li>
						<!-- <li><a href="#">Privacy Policy</a></li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-2">
					<ul class="list-unstyled">
						<!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>