<div class="wrap">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div id="main" class="item">
      <img  src="./assets/images/Banner1_2.jpg" alt="menu" width="100%">
    </div>
    <br>
    <div class="wrap">
      <div class="container" style="padding-top: 0px;">
        <!-- <ul class="breadcrumb"><li><a href="/">Home</a></li>
          <li class="active">How to Redeem</li>
        </ul>             -->
        <div class="site-contact">
          <div class="row">
            <div class="col-lg-12">
              <p style="text-align: justify;">
                <span style="font-size: 10pt; font-family: calibri, sans-serif;">&nbsp;</span>
              </p>
              <p><strong>How to Redeem </strong></p>
              <ol>
                <li>Visit <a href="http://www.colgate.bigcityexperience.com" target="_blank">www.colgate.bigcityexperience.com</a> and SUBMIT your details to register up to 25th October 2019. You will receive an OTP via SMS/email which will be valid up to 31st October 2019.</li>
                <li>Submit this OTP on the Booking page.</li>
                <li>Cross-check the availability and price of tickets on the partner’s website link & fill up the required details and click Submit.</li>
                <li>If ticket price exceeds the voucher denomination, the balance amount must be paid via Credit Card/Debit Card.</li>
                <li>24 hours prior to your preferred booking date, concierge will call to confirm your booking and share final booking confirmation via SMS/email.</li>
              </ol>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
    
              <a href="#"> <img style="height:80px;padding-bottom:8px" src="./assets/images/footer-logo.png"
                  alt="logo"></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
    
              <p style="font-size:17px">Contact us:</p>
              <ul class="list-unstyled">
                <li>
                  <p>Email: feedback@bigcity.in</p>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
              <ul class="list-unstyled">
                <!-- <li><a href="#" routerLink="/terms" target="_blank">Terms & Conditions </a></li> -->
                <!-- <li><a href="#">Privacy Policy</a></li> -->
              </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
              <ul class="list-unstyled">
                <!-- <li><a href="#" data-toggle="modal" data-target="#myModal">How to redeem</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>